<app-topnav></app-topnav>
<div class="uk-container uk-container-xlarge uk-padding-remove">

    <div class="uk-card  uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
        <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
            <img src="assets/new-img/about-header.jpg" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body uk-padding-large">
                <p class=" view-badge">XCS Careers Powered By Xevello ATS (XATS)</p>
                <h1 class="nav-header">We hire great people and we help them grow !
                </h1>
                <h4 class="nav-subheader">We guide businesses through every stage of software development while delivering effective and elegantly designed solutions to improve your daily business processes.
                </h4>
                <button class="uk-button header-btn uk-margin-medium-top">Contact Us</button> <br>
            </div>
        </div>
    </div>
</div>

<div class="uk-container uk-container-xlarge uk-padding-large bg-white">
    <p class="container-title">What's your passion ?</p>
    <p class="container-subtitle">Find a perfect career for you</p>
    <div class="uk-container uk-container-medium uk-margin-medium-top">
        <div class="uk-child-width-1-2@s uk-child-width-1-4@m uk-flex-center uk-text-center uk-grid-small" uk-grid>
            <div>
                <div class="uk-card  uk-padding-remove uk-card-body">
                    <img src="assets/new-img/about-consulting.jpg" class="category-img" alt="">
                    <p class="category-name">Consulting</p>
                </div>
            </div>
            <div>
                <div class="uk-card  uk-padding-remove uk-card-body">
                    <img src="assets/new-img/about-corp.jpg" class="category-img" alt="">
                    <p class="category-name">Corporate</p>
                </div>
            </div>
            <div>
                <div class="uk-card  uk-padding-remove uk-card-body">
                    <img src="assets/new-img/about-digital.jpg" class="category-img" alt="">
                    <p class="category-name">Digital</p>
                </div>
            </div>
            <div>
                <div class="uk-card  uk-padding-remove uk-card-body">
                    <img src="assets/new-img/about-manage.jpg" class="category-img" alt="">
                    <p class="category-name">General Management</p>
                </div>
            </div>
            <div>
                <div class="uk-card  uk-padding-remove uk-card-body">
                    <img src="assets/new-img/about-marketing.jpg" class="category-img" alt="">
                    <p class="category-name">Marketing</p>
                </div>
            </div>
            <div>
                <div class="uk-card  uk-padding-remove uk-card-body">
                    <img src="assets/new-img/about-sales.jpg" class="category-img" alt="">
                    <p class="category-name">Sales</p>
                </div>
            </div>
            <div>
                <div class="uk-card  uk-padding-remove uk-card-body">
                    <img src="assets/new-img/about-tech.jpg" class="category-img" alt="">
                    <p class="category-name">Technology</p>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="uk-container uk-container-xlarge uk-padding-large uk-padding-remove-top bg-white">
    <div class="uk-child-width-1-2@s uk-child-width-1-2@m uk-grid-small uk-grid-match uk-text-center" uk-grid>

        <div>
            <div class="uk-card  uk-padding-remove uk-card-body">
                <iframe class="why-video" src="https://www.youtube-nocookie.com/embed/c2pz2mlSfXA?autoplay=0&amp;showinfo=0&amp;rel=0&amp;modestbranding=1&amp;playsinline=1" allowfullscreen uk-responsive></iframe>

            </div>
        </div>
        <div>
            <div class="uk-card  uk-card-body  uk-text-left">
                <p class="view-badge">Why Us? </p>
                <p class="why-heading">Carees at XCS</p>
                <p class="why-details">At XCS we can only build trust in society through innovation if we trust our people to deliver solutions that deliver lasting change. We’re a friendly team of technology experts who specialise in shaping and creating digital products and
                    services for large or medium scale companies and startup clients. We’ve found that people work better in small focused teams, where designers can work directly with developers, strategists can work directly.

                </p>
                <a href="" class="support-mail">careers@xcs.xevello.com</a>
            </div>
        </div>
    </div>
</div>

<div class="uk-container uk-container-xlarge uk-padding-remove bg-prime">

    <div class="uk-card  uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
        <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
            <img src="assets/img/au-1.jpg" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card uk-padding-large uk-card-body uk-text-left">
                <p class="countries-heading">Join a global team with a world class culture
                </p>
                <p class="countries-subheading">Serving over 50+ Countries & New Offices over 12+ locations soon</p>
                <div class="uk-child-width-1-2@s uk-child-width-1-2@m uk-text-center uk-grid-small" uk-grid>
                    <div>
                        <div class="uk-card section-grid uk-card-body uk-margin-medium-top">
                            <p class="section-heading">Work from home</p>
                            <p class="section-subheading">Work from anywhere in the world. Whether that be at home, a desert island or a coworking space!</p>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card section-grid uk-card-body uk-margin-medium-top">
                            <p class="section-heading">Talented Team</p>
                            <p class="section-subheading">Work with a talented, collaborative team that always support eachother.</p>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card section-grid uk-card-body uk-margin-medium-top">
                            <p class="section-heading">Edge your knowledge</p>
                            <p class="section-subheading">We can offer training and support for what you're interested in learning about.

                            </p>
                        </div>
                    </div>
                </div>
                <button class="uk-button uk-primary-button uk-margin-medium-top uk-text-left">View Jobs</button>
            </div>
        </div>
    </div>
</div>
<div class="uk-container uk-container-xlarge uk-padding-large bg-white">
    <p class="container-title">Create with purpose.</p>
    <p class="purpose-details uk-align-center">Join a team that loves to explore, always sweats the details and never settles. Our goal is to build the most influential brands and products in tech. If that sounds fun, and you thrive in an ambitious, free-thinking and fast-moving environment, you’ll
        probably fit right in here.
    </p>
    <div class="uk-text-center uk-margin-large-top uk-grid-collapse uk-grid-match" uk-grid>

        <div class="uk-width-1-3@m">
            <div class="uk-card uk-padding-remove uk-card-body">
                <img src="assets/new-img/about-leader.jpg" alt="">
            </div>
        </div>
        <div class="uk-width-expand@m">
            <div class="uk-card  uk-padding-large uk-card-body  uk-text-left">
                <p class="ceo-quote">" We’re investing a lot of time in building our clients’ capabilities to ensure that they can sustain success ".
                </p>
                <p class="quote-author">Abdul Kumshey ~ (CEO/Co-Founder)</p>
                <p class="quote-link">
                    Meet :
                    <a routerLink="/about-ceo" class="uk-button uk-button-text">Abdul Kumshey</a>
            </div>
        </div>
    </div>
</div>
<div class="uk-container uk-container-xlarge uk-padding-large bg-prime">
    <p class="jobs-heading">Build your career at xcs</p>
    <h1 class="jobs-no">0</h1>
    <p class="jobs-subheading">Jobs available</p>
</div>

<app-secondary-footer></app-secondary-footer>

<app-footer></app-footer>

<!--
<div class="uk-container uk-container-xlarge uk-padding-large bg-second">
    <div class="uk-container uk-container-medium">
        <div class="uk-child-width-1-2@s uk-child-width-1-5@m uk-text-center uk-grid-collapse" uk-grid>
            <div>
                <div class="uk-card stat-grid uk-card-body">
                    <p class="stat-no">01</p>
                    <p class="stat-name">Number of years</p>
                </div>
            </div>
            <div>
                <div class="uk-card stat-grid uk-card-body">
                    <p class="stat-no">31</p>
                    <p class="stat-name">Number of years</p>
                </div>
            </div>
        </div>
    </div>
</div> -->
