<div class="uk-position-relative">
    <img src="assets/new-img/as-header.jpg" class="nav-img" alt="">
    <div class="uk-overlay-primary nav-overlay uk-position-cover"></div>
    <div class="uk-overlay uk-position-bottom uk-padding-large uk-position-center-left uk-light ">
        <p class="nav-heading">Application Services</p>
        <p class="nav-subheading">We drive transformation and build businesses by bringing together the capabilities needed to help organizations grow. </p>
    </div>
    <div class="uk-overlay uk-position-bottom uk-padding-large uk-position-bottom-left uk-light ">

        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider>

            <ul class="uk-slider-items uk-child-width-auto uk-child-width-1-1@m slide-nav uk-child-width-auto@m">
                <li>
                    <a href="#details-container">Details</a>
                </li>
                <li>
                    <a href="">Services</a>
                </li>
            </ul>


        </div>
    </div>
    <div class="uk-position-top">
        <app-topnav></app-topnav>
    </div>
</div>
<div id="details-container" class="uk-container   uk-container-xlarge uk-padding-large bg-white">
    <p class="detail-title">A ONE-STOP-SHOP DEVELOPMENT PARTNER
    </p>
    <p class="detail-heading uk-align-center">Custom software development services from professionals you’ll enjoy working with
    </p>
    <p class="details-detail uk-align-center">
        We, as a leading outsourcing firm, help brands, businesses and organizations around the globe build Digital Legacies. Putting every ounce of innovation, dedication and skill - we help you scale your business growth.




    </p>
</div>
<div class="uk-container uk-container-xlarge uk-padding-large uk-padding-remove-top uk-padding-remove-bottom bg-white">

    <div class="uk-card  uk-grid-collapse uk-child-width-1-2@s uk-margin ft-container" uk-grid>
        <div class="uk-flex-last@s uk-card-media-right uk-cover-container ">
            <img src="assets/new-img/as-manage.jpg" class="os-img" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body">
                <p class="service-heading">Application Management</p>
                <p class="service-details">Once you outsource your Application Management Services (AMS) service to XCS, you can be rest assured of managing the operation, maintenance, versioning and upgrading of an application throughout its lifecycle. Sydler manages your application
                    with best practices, techniques and procedures essential to the deployed application’s optimal operation, performance and efficiency.


                </p>
                <a href="#" class="learn-link">Learn More.</a>
            </div>
        </div>
    </div>

    <div uk-slider>

        <div class="uk-position-relative uk-visible-toggle uk-light solution-slider" tabindex="-1">

            <ul class="uk-slider-items uk-child-width-1-1 uk-child-width-1-3@s uk-child-width-1-2@m uk-grid-large" uk-grid>
                <li>
                    <div class="uk-text-center solution-grid uk-grid-collapse uk-grid-match" uk-grid>

                        <div class="uk-width-1-3">
                            <div class="uk-card os-grid uk-card-body">
                                <img src="assets/img/au-2.jpg" alt="">
                            </div>
                        </div>
                        <div class="uk-width-expand">
                            <div class="uk-card uk-text-left  uk-card-body">
                                <p class="solution-title">Software House designed branding and UX/UI that impacted</p>
                                <a class="uk-button solution-btn"> Banking & Finance <span class="material-icons-outlined">
                              arrow_right_alt
                              </span></a>
                            </div>
                        </div>
                    </div>

                </li>
                <li>
                    <div class="uk-text-center solution-grid uk-grid-collapse uk-grid-match" uk-grid>

                        <div class="uk-width-1-3">
                            <div class="uk-card os-grid uk-card-body">
                                <img src="assets/img/au-2.jpg" alt="">
                            </div>
                        </div>
                        <div class="uk-width-expand">
                            <div class="uk-card uk-text-left  uk-card-body">
                                <p class="solution-title">Software House designed branding and UX/UI that impacted</p>
                                <a class="uk-button solution-btn"> Banking & Finance <span class="material-icons-outlined">
                            arrow_right_alt
                            </span></a>
                            </div>
                        </div>
                    </div>

                </li>
            </ul>

            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

        </div>

        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

    </div>
</div>
<div class="uk-container uk-container-xlarge uk-padding-large uk-padding-remove-top uk-padding-remove-bottom bg-white">
    <div class="uk-card  uk-grid-collapse uk-child-width-1-2@s uk-margin ft-container" uk-grid>
        <div class="uk-card-media-left uk-cover-container ">
            <img src="assets/new-img/as-devs.jpg" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body">
                <p class="service-heading">Application Developments</p>
                <p class="service-details">Technology is in a constant state of evolution. This is something to get excited about, and for businesses to use to their advantage. Well crafted apps with exceptional user experience will help streamline your business and make life better
                    for your people. Together we’ll navigate the complex and ever-changing digital landscape, with app development that puts your people at its core.


                </p>
                <a href="#" class="learn-link">Learn More.</a>
            </div>
        </div>
    </div>
    <app-all-svgs svgId="partner-wd"></app-all-svgs>
</div>
<div class="uk-container uk-container-xlarge uk-padding-large uk-padding-remove-top  bg-white">
    <p class="container-heading">What’s your goal today? </p>
    <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-text-center dev-container" uk-grid>
        <div>
            <div class="uk-card dev-grid uk-text-left uk-card-body">
                <p class="dev-title">Web Development
                </p>
                <p class="dev-details">Leveraging modern approaches to web development, we bring front-end, back-end, and architecture together to meet your business needs.
                </p>
                <a href="#" class="uk-button uk-button-text dev-link">Read More</a>
            </div>
        </div>
        <div>
            <div class="uk-card dev-grid uk-text-left uk-card-body">
                <p class="dev-title">Mobile Development
                </p>
                <p class="dev-details">Leverage our decades of experience in mobile app development, and hire us to build robust, scalable, and user-friendly mobile apps.
                </p>
                <a href="#" class="uk-button uk-button-text dev-link">Read More</a>
            </div>
        </div>
        <div>
            <div class="uk-card dev-grid uk-text-left uk-card-body">
                <p class="dev-title">Hybrid Development
                </p>
                <p class="dev-details">Our mobile application experts can develop secure and robust hybrid mobile applications using modern frameworks and mobile technologies.
                </p>
                <a href="#" class="uk-button uk-button-text dev-link">Read More</a>
            </div>
        </div>
    </div>
</div>
<div class="uk-container uk-container-xlarge uk-padding-large  ops-container bg-prime">

    <div class="uk-card  uk-grid-collapse uk-child-width-1-2@s uk-margin ft-container" uk-grid>
        <div class="uk-card-media-left uk-cover-container ">
            <img src="assets/new-img/as-ops.jpg" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body">
                <p class="service-heading" style="color: white;">Dev Ops</p>
                <p class="service-details" style="color: white;">
                    DevOps is an integrated solution that augments your existing DevOps pipeline with world-class capabilities to optimize quality, accelerate testing, and deliver unprecedented analytics and AI-powered insights that bring business leaders, developers, and
                    operations teams onto the same page. DevOps is a key part of BizOps from XCS that turns insights and business outcomes into quality software at speed.

                </p>
                <a href="#" class="learn-link" style="color: white !important;">Learn More.</a>
            </div>
        </div>
    </div>

</div>
<div class="uk-container uk-container-xlarge bg-white uk-padding-large  uk-padding-remove-bottom">
    <div class="uk-text-center uk-grid-collapse approach-container uk-grid-match" uk-grid>
        <div class="uk-width-1-3@m">
            <div class="uk-card uk-padding-remove  uk-card-body">
                <img src="assets/new-img/as-quote.jpg" class="approach-img" alt="">
            </div>
        </div>
        <div class="uk-width-expand@m">
            <div class="uk-card uk-padding-large uk-text-left uk-card-body">
                <p class="approach-heading">
                    We design and build exceptional digital products.
                </p>
                <p class="approach-details">
                    We work as partners at every stage of your digital journey. Unleash the potential in your organisation with insight and innovation
                </p>
                <button class="uk-button aprc-btn">
                  Explore
                </button>
            </div>
        </div>
    </div>
</div>
<div class="uk-container uk-container-xlarge bg-white uk-padding-large uk-padding-remove-top">
    <h1 class="uk-heading-line uk-text-center exp-heading"><span>Top Industries</span></h1>
    <div class="uk-position-relative uk-visible-toggle uk-light uk-margin-medium-top" tabindex="-1" uk-slider>

        <ul class="uk-slider-items uk-child-width-1-1 uk-child-width-1-3@m uk-grid">
            <li>
                <div class="uk-card uk-padding-remove industry-grid uk-card-body">
                    <div>

                        <div class="uk-inline">
                            <img src="assets/new-img/as-ecom.jpg" alt="">
                            <div class="uk-overlay-primary uk-position-cover"></div>
                            <div class="uk-overlay uk-position-bottom uk-light">
                                <p class="industry-name">E-Commerce</p>
                            </div>
                        </div>

                    </div>
                </div>
            </li>
            <li>
                <div class="uk-card uk-padding-remove industry-grid uk-card-body">
                    <div>

                        <div class="uk-inline">
                            <img src="assets/new-img/as-fintech.jpg" alt="">
                            <div class="uk-overlay-primary uk-position-cover"></div>
                            <div class="uk-overlay uk-position-bottom uk-light">
                                <p class="industry-name">Banking & Finance</p>
                            </div>
                        </div>

                    </div>
                </div>
            </li>
            <li>
                <div class="uk-card uk-padding-remove industry-grid uk-card-body">
                    <div>

                        <div class="uk-inline">
                            <img src="assets/new-img/as-retail.jpg" alt="">
                            <div class="uk-overlay-primary uk-position-cover"></div>
                            <div class="uk-overlay uk-position-bottom uk-light">
                                <p class="industry-name">Retail</p>
                            </div>
                        </div>

                    </div>
                </div>
            </li>
        </ul>

        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

    </div>
</div>
<app-secondary-footer></app-secondary-footer>
<app-footer></app-footer>
