<div class="container-fluid uk-align-center">
    <div class=" container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-4 text-center">


            </div>
            <div class="col-sm-12 col-md-12 col-lg-8 text-center">
                <div class="wrapper">

                    <div class="map-image">
                        <div class="points mapsmall-circle1 anim animate">
                        </div>
                        <div class="points mapsmall-circle2">

                        </div>
                        <div class="points mapsmall-circle3"></div>
                        <div class="points mapsmall-circle4"></div>
                        <div class="points mapsmall-circle5"></div>
                        <div class="points mapsmall-circle6"></div>
                        <div class="points mapsmall-circle7"></div>
                        <div class="points mapsmall-circle8"></div>
                        <div class="points mapsmall-circle9"> </div>
                        <div class="points mapsmall-circle10"></div>
                        <div class="points mapsmall-circle11"></div>
                        <div class="points mapsmall-circle12"></div>
                        <div class="points mapsmall-circle13"></div>

                        <div class="points mapsmall-circle14"></div>
                        <div class="points mapsmall-circle15"></div>
                        <div class="points mapsmall-circle16"></div>
                        <div class="points mapsmall-circle17"></div>
                        <div class="points mapsmall-circle18"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
