/*Map CSS */

.wrapper {
    text-align: center;
    width: 100%;
}

.map-image {
    position: relative;
    background-image: url('https://i.ibb.co/Wp0D9BM/map.png');
    width: 700px;
    height: 360px;
    background-repeat: no-repeat;
    display: inline-block;
    background-size: contain;
}

#my-svg {
    width: 700px;
    height: 360px;
}

.mapsmall-circle1 {
    width: 10px;
    height: 10px;
    background-color: #e6004c;
    border-radius: 50%;
    position: absolute;
    top: 146px;
    left: 139px;
}

.animate {
    animation: pulse 1s infinite;
}

.anim {
    animation: pulse 1s infinite;
}

.mapsmall-circle2 {
    width: 5px;
    height: 5px;
    background-color: #00abe6;
    border-radius: 50%;
    position: absolute;
    top: 181px;
    left: 131px;
}

.mapsmall-circle3 {
    width: 5px;
    height: 5px;
    background-color: #00abe6;
    border-radius: 50%;
    position: absolute;
    top: 120px;
    left: 184px;
}

.mapsmall-circle4 {
    width: 5px;
    height: 5px;
    background-color: #00abe6;
    border-radius: 50%;
    position: absolute;
    top: 87px;
    left: 133px;
}

.mapsmall-circle5 {
    width: 5px;
    height: 5px;
    background-color: #00abe6;
    border-radius: 50%;
    position: absolute;
    top: 71px;
    left: 234px;
}

.mapsmall-circle6 {
    width: 5px;
    height: 5px;
    background-color: #00abe6;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 197px;
}

.mapsmall-circle7 {
    width: 5px;
    height: 5px;
    background-color: #00abe6;
    border-radius: 50%;
    position: absolute;
    top: 309px;
    left: 191px;
}

.mapsmall-circle8 {
    width: 5px;
    height: 5px;
    background-color: #00abe6;
    border-radius: 50%;
    position: absolute;
    top: 257px;
    left: 241px;
}

.mapsmall-circle9 {
    width: 5px;
    height: 5px;
    background-color: #00abe6;
    border-radius: 50%;
    position: absolute;
    top: 164px;
    left: 322px;
}

.mapsmall-circle10 {
    width: 5px;
    height: 5px;
    background-color: #00abe6;
    border-radius: 50%;
    position: absolute;
    top: 119px;
    left: 332px;
}

.mapsmall-circle11 {
    width: 5px;
    height: 5px;
    background-color: #00abe6;
    border-radius: 50%;
    position: absolute;
    top: 83px;
    left: 344px;
}

.mapsmall-circle12 {
    width: 5px;
    height: 5px;
    background-color: #00abe6;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 150px;
}

.mapsmall-circle13 {
    width: 5px;
    height: 5px;
    background-color: #00abe6;
    border-radius: 50%;
    position: absolute;
    top: 89px;
    left: 586px;
}

.mapsmall-circle14 {
    width: 5px;
    height: 5px;
    background-color: #00abe6;
    border-radius: 50%;
    position: absolute;
    top: 124px;
    left: 456px;
}

.mapsmall-circle15 {
    width: 5px;
    height: 5px;
    background-color: #00abe6;
    border-radius: 50%;
    position: absolute;
    top: 182px;
    left: 416px;
}

.mapsmall-circle16 {
    width: 5px;
    height: 5px;
    background-color: #00abe6;
    border-radius: 50%;
    position: absolute;
    top: 150px;
    left: 486px;
}

.mapsmall-circle17 {
    width: 5px;
    height: 5px;
    background-color: #00abe6;
    border-radius: 50%;
    position: absolute;
    top: 274px;
    left: 568px;
}

.first-arc {
    position: absolute;
    top: 0px;
    left: 0px;
}

.map-image>div {
    z-index: 12 !important;
}

.small-circle2>div {
    padding: 20px;
    background-color: #34b8d8;
    border: 1px solid #34b8d8;
    border-radius: 8px;
    color: white;
    width: 250px;
    text-align: center;
}

.inner-circle-para {
    font-size: 12px !important;
    color: white;
    text-align: left;
}

.small-circle7>div {
    padding: 20px;
    background-color: #34b8d8;
    border: 1px solid #34b8d8;
    border-radius: 8px;
    color: white;
    width: 250px;
    text-align: center;
}

.small-circle9>div {
    padding: 20px;
    background-color: #34b8d8;
    border: 1px solid #34b8d8;
    border-radius: 8px;
    color: white;
    width: 250px;
    text-align: center;
}

.circle-within {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    text-align: left !important;
    position: relative;
    left: -40px;
}

.circle-within2 {
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    left: 90px;
}

.circle-inner-h {
    position: relative;
    top: -10px;
    left: -40px;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 #00abe6;
    }
    70% {
        -webkit-box-shadow: 0px 0px 10px 3px #00abe6;
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 #00abe6;
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 #00abe6;
        box-shadow: 0 0 0 0 #00abe6;
    }
    70% {
        -moz-box-shadow: 0px 0px 10px 3px #00abe6;
        box-shadow: 0px 0px 10px 3px #00abe6;
    }
    100% {
        -moz-box-shadow: 0 0 0 0 #00abe6;
        box-shadow: 0 0 0 0 #00abe6;
    }
}

#main {
    position: absolute;
    background: #00abe6;
    width: 26%;
    top: 149px;
    left: -45px;
    box-shadow: 0px 0px 5px 1px black;
    padding: 15px 8px;
    z-index: 12 !important;
    border-radius: 5px;
    opacity: 0;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

#main p {
    color: #fff;
    font-size: 13px;
    padding: 5px 0px;
    text-align: left;
}

#main img {
    max-width: 33%;
    top: -34px;
    position: absolute;
    left: 0px;
}

.mapsmall-circle1:hover~#main {
    opacity: 1;
}

.bg {
    stroke: #8d8d8d;
    stroke-dasharray: 4 12;
}

.move {
    stroke: #eb2121;
    animation: link-anim 5s linear infinite;
    stroke-dasharray: 4 12 4 12 4 12 4 12 4 300;
}

@keyframes link-anim {
    0% {
        stroke-dashoffset: 368;
    }
    100% {
        stroke-dashoffset: 32;
    }
}

#my-svg>path {
    stroke-width: 2px;
    fill: transparent;
}

#main {
    position: absolute;
    background: #00abe6;
    width: 26%;
    top: 149px;
    left: -45px;
    box-shadow: 0px 0px 5px 1px black;
    padding: 15px 8px;
    z-index: 12 !important;
    border-radius: 5px;
    opacity: 0;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

#main {
    position: absolute;
    background: #00abe6;
    width: 26%;
    top: 149px;
    left: -45px;
    box-shadow: 0px 0px 5px 1px black;
    padding: 15px 8px;
    z-index: 12 !important;
    border-radius: 5px;
    opacity: 0;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

#main p {
    color: #fff;
    font-size: 13px;
    padding: 5px 0px;
    text-align: left;
}

#main img {
    max-width: 33%;
    top: -34px;
    position: absolute;
    left: 0px;
}

.mapsmall-circle1:hover~#main {
    opacity: 1 !important;
}
