<div class="uk-container uk-container-xlarge uk-padding-large footer-container">
    <div class="uk-child-width-1-2@s uk-child-width-1-4@m uk-text-center " uk-grid>
        <div>
            <div class="uk-card uk-padding-small uk-card-body">
                <app-all-svgs svgId="footer-logo"></app-all-svgs>
                <p class="footer-details">We Build world class IT services & Software company back in 2018 in my parents garage now it's one of most powerfull start up in the world </p>
                <p class="news-heading">Stat informed</p>
                <form class="uk-grid-small uk-grid-collapse news-form uk-grid-match" uk-grid>
                    <div class="uk-width-expand">
                        <input class="uk-input news-input" type="text" placeholder="Your mail">
                    </div>
                    <div class="uk-width-1-3@s">
                        <button class="uk-button send-btn">Send</button>
                    </div>
                </form>
                <div class="icon-grid uk-text-left">
                    <a href="http://" target="_blank" rel="noopener noreferrer"><span uk-icon="icon: instagram; ratio: 1"></span></a>
                    <a href="http://" target="_blank" rel="noopener noreferrer"><span uk-icon="icon: facebook; ratio: 1"></span></a>
                    <a href="http://" target="_blank" rel="noopener noreferrer"><span uk-icon="icon: twitter; ratio: 1"></span></a>
                    <a href="http://" target="_blank" rel="noopener noreferrer"><span uk-icon="icon: youtube; ratio: 1"></span></a>
                    <a href="http://" target="_blank" rel="noopener noreferrer"><span uk-icon="icon: linkedin; ratio: 1"></span></a>
                </div>
                <p class="footer-rights uk-text-left">&copy; 2018-2022 Xevello. </p>
            </div>
        </div>
        <div>
            <div class="uk-card uk-padding-small uk-card-body">
                <p class="footer-header">About</p>
                <ul class="footer-nav uk-text-left">
                    <li class="footer-links">
                        <a routerLink="/contact-us">Contact Us</a>
                    </li>
                    <li class="footer-links">
                        <a href="">About Us</a>
                    </li>
                    <li class="footer-links">
                        <a href="">Blogs</a>
                    </li>
                    <li class="footer-links">
                        <a href="">Careers</a>
                    </li>
                    <li class="footer-links">
                        <a href="">Partners</a>
                    </li>
                    <li class="footer-links">
                        <a href="">Investors</a>
                    </li>
                    <li class="footer-links">
                        <a href="">Terms of services</a>
                    </li>
                    <li class="footer-links">
                        <a href="">Privacy & Policy</a>
                    </li>

                </ul>
            </div>
        </div>
        <div>
            <div class="uk-card uk-padding-small uk-card-body">
                <p class="footer-header">Services</p>
                <ul class="footer-nav uk-text-left">
                    <li class="footer-links">
                        <a href="">App Development</a>
                    </li>
                    <li class="footer-links">
                        <a href="">Branding</a>
                    </li>
                    <li class="footer-links">
                        <a href="">Cloud Development</a>
                    </li>
                    <li class="footer-links">
                        <a href="">Consulting</a>
                    </li>
                    <li class="footer-links">
                        <a href="">Cyber security</a>
                    </li>
                    <li class="footer-links">
                        <a href="">Data & Analytics</a>
                    </li>
                    <li class="footer-links">
                        <a href="">& More.</a>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <div class="uk-card uk-padding-small uk-card-body">
                <p class="footer-header">Industries</p>
                <ul class="footer-nav uk-text-left">
                    <li class="footer-links">
                        <a href="">Aerospace</a>
                    </li>
                    <li class="footer-links">
                        <a href="">Automotive</a>
                    </li>
                    <li class="footer-links">
                        <a href="">Aviation</a>
                    </li>
                    <li class="footer-links">
                        <a href="">Banking & Finance</a>
                    </li>
                    <li class="footer-links">
                        <a href="">Capital Markets</a>
                    </li>
                    <li class="footer-links">
                        <a href="">Construction & Engineering</a>
                    </li>
                    <li class="footer-links">
                        <a href="">Consumer Goods</a>
                    </li>
                    <li class="footer-links">
                        <a href="">Retails</a>
                    </li>
                    <li class="footer-links">
                        <a href="">& More.</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


</div>
