<div class="uk-position-relative">
    <img src="assets/new-img/ct-header.jpg" class="nav-img" alt="">
    <div class="uk-overlay-primary nav-overlay uk-position-cover"></div>
    <div class="uk-overlay uk-position-center-left uk-padding-large  uk-light ">
        <p class="header-title">Improving lives with cloud technology
        </p>
        <p class="header-subtitle">Serverless app development services to help you reduce operational complexity

        </p>
    </div>
    <div class="uk-overlay uk-position-bottom uk-padding-large uk-position-bottom-left uk-light ">


        <button routerLink="/contact-us" class="uk-button header-btn">Contact Us</button>
    </div>
    <div class="uk-position-top">
        <app-topnav></app-topnav>
    </div>
</div>
<div class="uk-container uk-container-xlarge uk-padding-large st-container uk-padding-remove " uk-sticky="offset: 74;">
    <div class="uk-text-center uk-grid-collapse uk-grid-match" uk-grid>
        <div class="uk-width-auto">
            <div class="uk-card section-header  uk-card-body">
                <p class="section-heading">Cloud Solutions</p>
            </div>
        </div>
        <div class="uk-width-expand">
            <div class="uk-card  uk-padding-remove uk-card-body">
                <div class="section-slider " uk-slider="autoplay: true; autoplay-interval: 2000; finite:false;">
                    <div class="uk-position-relative uk-visible-toggle uk-light " tabindex="-1 ">
                        <ul class="uk-slider-items uk-child-width-auto uk-grid-collapse" uk-grid>
                            <li>
                                <a href="/cloud-solutions#overview">Overview</a>
                            </li>
                            <li>
                                <a href="/cloud-solutions#migration">Migration</a>
                            </li>
                            <li>
                                <a href="/cloud-solutions#app-dev">App Dev.</a>
                            </li>
                            <li>
                                <a href="/cloud-solutions#facts">Facts</a>
                            </li>
                            <li>
                                <a href="/cloud-solutions#infrastructure">Infrastructure</a>
                            </li>
                            <li>
                                <a href="/cloud-solutions#contact-us">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<div id="overview" class="uk-container  uk-container-xlarge uk-padding-large bg-white">
    <p class="overview-heading">Scale and Grow by unleashing the full power the Cloud

    </p>
    <p class="overview-subheading uk-align-center">
        Digitalization and migrating to a cloud system with serverless infrastructure often involves risk in processing data management. We don’t want that for you! Serverless development and consulting services enable you with best-in-class technology to create
        stable, secure, and reliable solutions.
    </p>
    <!-- <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-text-center uk-margin-large-top uk-grid-match" uk-grid>
        <div>
            <div class="uk-card category-grid uk-card-body">
                <p class="category-title">The Right Foundations </p>
                <p class="category-details">If you’re going to build a great building, you need to ensure you have solid foundations. The same applies to your business. The right foundations are in determining who you are as a company – your purpose and culture.
                </p>
            </div>
        </div>
        <div>
            <div class="uk-card category-grid uk-card-body">
                <p class="category-title">Analysis
                </p>
                <p class="category-details">We work directly with your teams to understand current strategy and performance. We collect information including historical transactional sales data, e-commerce analytics, ad performance, and third party sales and nets.


                </p>
            </div>
        </div>
    </div> -->
</div>
<div id="migration" class="uk-container ft-container uk-container-xlarge uk-padding-large bg-white uk-padding-remove-top">
    <div class="uk-card  uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
        <div class="uk-card-media-left uk-cover-container">
            <img src="assets/new-img/ct-migration.jpg" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body uk-padding-large">
                <h2 class="feature-heading">Cloud Migration

                </h2>
                <p class="feature-details ">
                    The business world is constantly evolving, empowering customers to access unlimited information from the omnipresent internet. The digital transformation has steered the power from the hands of businesses to the demands of customers as today’s highly
                    competitive environment provides enough spur of choice. Thus, a necessity is built for thorough insights into customer behavior and the need for a wide-ranging system that houses and organizes the information.


                </p>
            </div>
        </div>
    </div>
</div>
<div id="app-dev" class="uk-container uk-container-xlarge uk-padding-large bg-prime">
    <div class="uk-card feature-prime uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
        <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
            <img src="assets/new-img/ct-app.jpg" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body uk-padding-large">
                <h2 class="feature-heading">Cloud App Development
                </h2>
                <p class="feature-details ">
                    Cloud-based development of applications is the best way to achieve cost-efficiency, predictability and transparency of software delivery and infrastructure management. Virtualized environments for developing web and mobile applications help greatly reduce
                    time-to-market, improve service delivery continuity and ensure the uninterrupted positive end-user experience. XCS has a thorough understanding of cloud-based development and infrastructure management at scale and can help you deliver
                    more value to your customers using the same or fewer resources.


                </p>
            </div>
        </div>
    </div>
    <app-all-svgs svgId="ct-logo"></app-all-svgs>
</div>
<div id="facts" class="uk-container uk-container-xlarge uk-padding-large">

    <h1 class="uk-heading-line uk-text-center exp-heading"><span>Stats & Facts</span></h1>
    <div class="uk-child-width-1-2 uk-child-width-1-3@m uk-flex-center uk-text-center uk-margin-medium-top uk-grid-small" uk-grid>
        <div>
            <div class="uk-card stats-grid uk-card-body">
                <p class="stats-no">67%
                </p>
                <p class="stats-details uk-align-center">Of all enterprise infrastructure will be cloud-based.

                </p>
            </div>
        </div>
        <div>
            <div class="uk-card stats-grid uk-card-body">
                <p class="stats-no">$338B
                </p>
                <p class="stats-details uk-align-center">The public cloud market will reach $338 billion in 2021.

                </p>
            </div>
        </div>
        <div>
            <div class="uk-card stats-grid uk-card-body">
                <p class="stats-no">83%
                </p>
                <p class="stats-details uk-align-center"> Of the Company Workloads Will Be on Cloud Storage

                </p>
            </div>
        </div>
    </div>
    <div class="uk-text-center uk-grid-collapse uk-margin-medium-top uk-grid-match" uk-grid>

        <div class="uk-width-1-3@m">
            <div class="uk-card uk-padding-small  uk-card-body why-container">
                <div class="why-grid">
                    <p class="why-title">Enterprise Cloud Migration and Cloud Engineering that Drive Business Success

                    </p>
                    <p class="why-details">
                        Cloud application development services help enterprises reduce development cost and time-to-market and boost operational agility.


                    </p>
                </div>
            </div>
        </div>
        <div class="uk-width-expand@m">
            <div class="uk-card uk-padding-large why-grid uk-text-left uk-card-body">
                <div>
                    <p class="why-ft">
                        Enterprises are predicted to invest over 3.5 million on average within the next year. This expenditure took 30% of their total IT budget in 2021.

                    </p>

                    <p class="why-author">IDG
                        <a href="https://foundryco.com/" target="_blank" class="uk-button uk-button-text">View Details</a>
                    </p>
                </div>
                <div class="uk-margin-medium-top">
                    <p class="why-ft">
                        The positive impact of cloud technology is almost instantaneous. 80% of companies report operation improvements within the first few months of adopting the tech.
                    </p>

                    <p class="why-author">Multisoft
                        <a href="https://multisoft.com/" target="_blank" class="uk-button uk-button-text">View Details</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="infrastructure" class="uk-container ft-container uk-container-xlarge uk-padding-large bg-white ">
    <div class="uk-card  uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
        <div class="uk-card-media-left uk-cover-container">
            <img src="assets/new-img/ct-manage.jpg" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body uk-padding-large">
                <h2 class="feature-heading">Cloud infrastructure management
                </h2>
                <p class="feature-details ">
                    Obtain secured and scalable cloud solutions for your digital innovation. Enable responsiveness to your cloud environment and give a competitive edge to your business. Get a customized strategy for your cloud infrastructure management and create a scalable
                    solution for future optimization.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="uk-container uk-container-xlarge bg-white uk-padding-large uk-padding-remove-top">
    <h1 class="uk-heading-line uk-text-center exp-heading"><span>Top Industries</span></h1>

    <div class="uk-position-relative uk-visible-toggle uk-light uk-margin-medium-top" tabindex="-1" uk-slider="autoplay: true; autoplay-interval: 4000;">

        <ul class="uk-slider-items industries uk-child-width-1-1 uk-child-width-1-3@m uk-grid">
            <li>
                <div class="uk-card uk-padding-remove industry-grid uk-card-body">
                    <div>

                        <div class="uk-inline">
                            <img src="assets/industry/aerospace.jpg" alt="">
                            <div class="uk-overlay-primary uk-position-cover"></div>
                            <div class="uk-overlay uk-position-bottom uk-light">
                                <p class="industry-name">Aerospace & Defence</p>
                            </div>
                        </div>

                    </div>
                </div>
            </li>
            <li>
                <div class="uk-card uk-padding-remove industry-grid uk-card-body">
                    <div>

                        <div class="uk-inline">
                            <img src="assets/industry/finance.jpg" alt="">
                            <div class="uk-overlay-primary uk-position-cover"></div>
                            <div class="uk-overlay uk-position-bottom uk-light">
                                <p class="industry-name">Capital Market</p>
                            </div>
                        </div>

                    </div>
                </div>
            </li>
            <li>
                <div class="uk-card uk-padding-remove industry-grid uk-card-body">
                    <div>

                        <div class="uk-inline">
                            <img src="assets/industry/banking.jpg" alt="">
                            <div class="uk-overlay-primary uk-position-cover"></div>
                            <div class="uk-overlay uk-position-bottom uk-light">
                                <p class="industry-name">Banking & Finance</p>
                            </div>
                        </div>

                    </div>
                </div>
            </li>
        </ul>



    </div>
</div>


<app-secondary-footer id="contact-us"></app-secondary-footer>
<app-footer></app-footer>
