@import '../business-strategy/business-strategy.component.scss';
:host ::ng-deep .header-title {
    width: 70% !important;
    font-size: 44pt;
}

:host ::ng-deep .header-container>img {
    height: 500px !important;
}

:host .nav-img {
    height: 85vh;
}

:host .header-subtitle {
    width: 50%;
}

@media only screen and (max-width: 900px) {
    .header-title {
        font-size: 22pt;
        width: 100% !important;
    }
    .header-subtitle {
        width: 100% !important;
        font-size: 12pt;
    }
    .nav-img {
        height: 70vh !important;
    }
}
