@import 'mixins';
.nav-container {
    background-color: $primary-color;
    height: 420px;
}

.nav-title {
    font-size: 38pt;
    color: white;
    font-family: $pf-font;
    font-weight: 700;
    font-style: italic;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 10px;
}

.nav-details {
    font-size: 12pt;
    width: 60%;
    text-align: center;
    color: white;
    margin-top: 0px;
}

.nav-button {
    background-color: $blue;
    color: white;
    padding: 6px 30px;
    border-radius: 25px;
    font-size: 11pt;
    text-transform: capitalize;
}

.nav-button>span {
    vertical-align: middle;
    font-size: 12pt;
    margin-left: 10px;
}

.nav-imgcard {
    bottom: 160px;
    height: 400px;
}

.nav-image {
    width: 70%;
    height: 500px;
    object-fit: cover;
    border-radius: 16px;
}

.home-grocery-image {
    width: 100%;
    height: 560px;
    border-radius: 8px;
    object-fit: cover;
}

.category-badge {
    background-color: #f8a537;
    padding: 14px 20px;
    font-size: 9pt;
    font-family: 'Poppins', sans-serif;
    color: black !important;
}

.grocery-title {
    font-size: 32pt;
    color: $black;
    font-weight: 600;
}

.grocery-details {
    font-size: 11pt;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.global-cap {
    margin-top: 20px;
    color: $black;
    font-weight: 700;
    font-size: 28pt;
    font-family: 'Lato', sans-serif;
    margin-bottom: 0px;
}

.global-title {
    font-size: 12pt;
    color: $black;
    margin-top: 10px;
}

.os-grid {
    background-color: white;
    cursor: pointer;
    border-radius: 4px;
}

.os-title {
    font-size: 12pt;
    color: black;
    text-align: left;
}

.os-details {
    font-size: 10pt;
    text-align: left;
    margin-top: 10px;
}

.os-link>span {
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 12pt;
    color: $pcolor;
    border-radius: 50%;
    margin-top: 20px;
}

.os-grid:hover>a.os-link>span {
    background-color: $pcolor;
    color: white !important;
}

.what-we-title {
    font-size: 22pt;
    color: $black;
    font-weight: 600;
    font-family: 'Playfair Display', sans-serif;
}

.what-we-details {
    font-size: 11pt;
    color: $primary-color;
    margin-top: 20px;
}

.what-we-image {
    padding: 40px;
}

.what-we-button {
    margin-top: 20px;
}

.client-title {
    font-size: 18pt;
    color: black;
    font-family: $lato;
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
}

.ai-title {
    font-size: 28pt;
    color: $primary-color;
    font-weight: 600;
    font-family: $pf-font;
    width: 90%;
}

.ai-title.second {
    font-size: 20pt !important;
}

.ai-details {
    margin-top: 10px;
    color: black;
    font-size: 10pt;
    width: 80%;
}

.ai-button {
    background-color: $black;
    padding: 4px 30px;
    color: white;
    margin-top: 20px;
    font-size: 10pt;
    text-transform: capitalize;
    border-radius: 8px;
    border: 2px solid $black;
}

.ai-button:hover {
    border: 2px solid $black;
    background: none !important;
    color: $black;
}

.second-ai-btn {
    color: $black;
    margin-top: 20px;
    font-size: 11pt;
}

.mini-title {
    font-size: 14pt;
    color: $black;
}

.services-header {
    height: 320px;
    width: 100%;
    border-radius: 4px;
    object-fit: cover;
}

.achieve-title {
    font-size: 28pt;
    color: $blue;
    font-weight: 600;
    font-family: $pf-font;
    text-align: center;
    margin: 0px;
}

.achieve-subject {
    font-size: 10pt;
    color: $primary-color;
    text-align: center;
    margin: 0px;
}

.hw-contact-heading {
    font-size: 36pt;
    color: $primary-color;
    font-weight: 600;
    font-family: $pf-font;
    width: 60%;
    text-align: center;
}

.hw-contact-subheading {
    font-size: 11pt;
    color: gray;
    text-align: center;
}

.hw-contact-heading>span {
    text-decoration: dashed;
    border-bottom: 3px dotted $blue;
    border-radius: 4px;
}

.hw-contact-btn {
    background-color: $blue;
    color: white;
    padding: 4px 30px;
    font-size: 10pt;
    border-radius: 4px;
    margin-top: 30px;
}

.services-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.overlay-img {
    background-color: #05050591;
    width: 100%;
    height: 300px;
    border-radius: 8px;
}

.industry-slider>li>div {
    width: 100%;
}

.industry-slider>li>div>img {
    height: 200px;
    object-fit: cover;
    width: 100% !important;
    border-radius: 8px;
}

.industry-slider>li>div>div.uk-overlay-primary {
    background-color: #00000079;
    filter: opacity(60%);
    border-radius: 8px;
    width: 100%;
    height: 200px;
}

.industry-name {
    color: white;
    font-size: 9pt;
    text-decoration: none !important;
}

.mini-header {
    font-size: 18pt;
    font-weight: 400;
    color: white;
}

.mini-header>span {
    font-size: 11pt !important;
}

.mini-header>span>span {
    font-size: 9pt;
    text-transform: none !important;
}

@media only screen and (max-width: 900px) {
    .nav-title {
        font-size: 26pt;
    }
    .nav-details {
        width: 100%;
        font-size: 10pt;
    }
    .nav-container {
        height: 380px;
    }
    .nav-image {
        height: 200px;
        width: 90%;
    }
    .nav-imgcard {
        height: 150px;
        bottom: 90px;
    }
    .home-grocery-image {
        height: 200px;
    }
    .hw-grocery-grid {
        padding-left: 0px;
        padding-right: 0px;
    }
    .grocery-title {
        font-size: 18pt;
    }
    .grocery-details {
        font-size: 10pt;
    }
    .global-cap {
        font-size: 18pt;
    }
    .global-title {
        font-size: 10pt;
    }
    .container-title {
        margin-bottom: 10px;
    }
    .os-container {
        padding: 0px;
    }
    .services-header {
        width: 100%;
        height: 200px;
    }
    .mini-header {
        font-size: 12pt;
    }
    .mini-header>span {
        margin-top: 20px !important;
    }
    .what-we-image {
        width: fit-content;
        padding: 0px;
    }
    .what-we-title {
        font-size: 16pt;
    }
    .what-we-details {
        font-size: 10pt;
    }
    .what-we-button {
        font-size: 10pt;
    }
    .we-container {
        padding: 0px;
        padding-top: 10px;
    }
    .client-title {
        font-size: 12pt;
    }
    .ai-container>div>div>div {
        padding: 0px;
        padding-top: 10px;
    }
    .ai-title {
        font-size: 18pt;
    }
}
