<div class="uk-position-relative">
    <img src="assets/new-img/wd-header.jpg" class="nav-img" alt="">
    <div class="uk-overlay-primary nav-overlay uk-position-cover"></div>
    <div class="uk-overlay uk-position-bottom uk-padding-large uk-position-center-left uk-light ">
        <p class="nav-heading">Web Development</p>
        <p class="nav-subheading">Leveraging modern approaches to web development, we bring front-end, back-end, and architecture together to meet your business needs.
        </p>
    </div>
    <div class="uk-position-top">
        <app-topnav></app-topnav>
    </div>
</div>
<div class="uk-container uk-container-xlarge uk-padding-large st-container uk-padding-remove " uk-sticky="offset: 74;">
    <div class="uk-text-center uk-grid-collapse uk-grid-match" uk-grid>
        <div class="uk-width-auto">
            <div class="uk-card section-header  uk-card-body">
                <p class="section-heading">Web Development</p>
            </div>
        </div>
        <div class="uk-width-expand">
            <div class="uk-card uk-text-center uk-padding-remove uk-card-body">
                <div class="section-slider " uk-slider="autoplay: true; autoplay-interval: 2000; finite:false;">

                    <div class="uk-position-relative uk-visible-toggle uk-light " tabindex="-1 ">

                        <ul class="uk-slider-items uk-child-width-auto uk-grid-collapse" uk-grid>

                            <li>
                                <a href="/web-development#overview">Overview</a>
                            </li>
                            <li>
                                <a href="/web-development#full-stack">Full Stack</a>
                            </li>
                            <li>
                                <a href="/web-development#frontend">Frontend </a>
                            </li>
                            <li>
                                <a href="/web-development#backend">Backend</a>
                            </li>
                            <li>
                                <a href="/web-development#why-us">Why Us</a>
                            </li>
                            <li>
                                <a href="/web-development#contact-us">Contact Us</a>
                            </li>
                        </ul>


                    </div>


                </div>
            </div>
        </div>
    </div>


</div>
<div id="overview" class="uk-container   uk-container-xlarge uk-padding-large bg-white">
    <p class="detail-title">Outsource with us and accelerate your digital transformation

    </p>
    <p class="detail-heading uk-align-center">
        Transformational user experiences that extend across a brand’s entire digital ecosystem.
    </p>
    <p class="details-detail uk-align-center">
        Delivering flawless web applications is our forte, so if you choose to work with us, you can be certain that you’ve left your product in good hands. From back-end to front-end website development, from e-commerce stores to blockchain apps, we’ll leave
        you with a product that’s functional, effective and engaging to your end-users.
    </p>
</div>
<div id="full-stack" class="uk-container uk-container-xlarge uk-padding-large uk-padding-remove-top uk-padding-remove-bottom bg-white">
    <div class="uk-card  uk-grid-collapse uk-child-width-1-2@s uk-margin ft-container" uk-grid>
        <div class="uk-flex-last@s uk-card-media-right uk-cover-container ">
            <img src="assets/new-img/wd-full.jpg" class="os-img" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body">
                <p class="service-heading">Full Stack Development
                </p>
                <p class="service-details">XCS has a team of experienced full-stack developers that effortlessly manage numerous frameworks in order to successfully deliver a client project. By incorporating the latest technologies, our full-stack web developers ensure to create
                    custom masterpieces that would improve your ROI. We work to accommodate our clients with end-to-end services that fuel up their websites.
                </p>
            </div>
        </div>
    </div>

    <div uk-slider>

        <div class="uk-position-relative uk-visible-toggle uk-light solution-slider" tabindex="-1">

            <ul class="uk-slider-items uk-child-width-1-1 uk-child-width-1-3@s uk-child-width-1-2@m uk-grid-large" uk-grid>
                <li>
                    <div class="uk-text-center solution-grid uk-grid-collapse uk-grid-match" uk-grid>

                        <div class="uk-width-1-3">
                            <div class="uk-card os-grid uk-card-body">
                                <img src="assets/img/au-2.jpg" alt="">
                            </div>
                        </div>
                        <div class="uk-width-expand">
                            <div class="uk-card uk-text-left  uk-card-body">
                                <p class="solution-title">Software House designed branding and UX/UI that impacted</p>
                                <a class="uk-button solution-btn"> Banking & Finance <span class="material-icons-outlined">
                          arrow_right_alt
                          </span></a>
                            </div>
                        </div>
                    </div>

                </li>
                <li>
                    <div class="uk-text-center solution-grid uk-grid-collapse uk-grid-match" uk-grid>

                        <div class="uk-width-1-3">
                            <div class="uk-card os-grid uk-card-body">
                                <img src="assets/img/au-2.jpg" alt="">
                            </div>
                        </div>
                        <div class="uk-width-expand">
                            <div class="uk-card uk-text-left  uk-card-body">
                                <p class="solution-title">Software House designed branding and UX/UI that impacted</p>
                                <a class="uk-button solution-btn"> Banking & Finance <span class="material-icons-outlined">
                        arrow_right_alt
                        </span></a>
                            </div>
                        </div>
                    </div>

                </li>
            </ul>

        </div>


    </div>
</div>
<div id="frontend" class="uk-container  uk-container-xlarge uk-padding-large  uk-padding-remove-bottom bg-white">
    <div class="uk-card  uk-grid-collapse  uk-child-width-1-2@s uk-margin" uk-grid>
        <div class="uk-card-media-left uk-cover-container">
            <img src="assets/new-img/wd-front.jpg" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body service-grid">
                <p class="service-heading">Frontend Development</p>
                <p class="service-details">It wouldn’t be wrong to say that with the increased number of user interfaces in present web development applications, front-end development is as important as back-end services. In the current era, the application should be responsive
                    and that’s why Front end implementation of functionality is paramount for the overall quality of the product. XCS is a groundbreaking front-end web developer company which offers a wide range of services including front-end development
                    services for creating user-friendly interfaces.
                </p>
            </div>
        </div>
    </div>
    <app-all-svgs svgId="partner-wd"></app-all-svgs>
</div>
<div class="uk-container uk-container-xlarge uk-padding-large uk-padding-remove-top  bg-white">
    <p class="container-heading">What’s your goal today? </p>
    <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-text-center dev-container uk-grid-match" uk-grid>
        <div>
            <div class="uk-card dev-grid uk-text-left uk-card-body">
                <p class="dev-title">React
                </p>
                <p class="dev-details">Build dynamic, interactive and intuitive websites using our top-of-the-line ReactJS development services

                </p>
            </div>
        </div>
        <div>
            <div class="uk-card dev-grid uk-text-left uk-card-body">
                <p class="dev-title">Angular
                </p>
                <p class="dev-details">As we are working on AngularJS for the last many years, we have achieved a lot as an AngularJS team

                </p>
            </div>
        </div>
        <div>
            <div class="uk-card dev-grid uk-text-left uk-card-body">
                <p class="dev-title">Vue Js
                </p>
                <p class="dev-details">Our Vue.js web portals and solutions are designed to address diverse requirements of various sectors
                </p>
            </div>
        </div>
    </div>
</div>
<div id="backend" class="uk-container uk-container-xlarge uk-padding-large  ops-container bg-prime">

    <div class="uk-card  uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
        <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
            <img src="assets/new-img/wd-back.jpg" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body service-grid">
                <p class="service-heading" style="color: white;">Backend Development</p>
                <p class="service-details" style="color: white;">
                    When users access your web solution, sophisticated design and top-notch user experience are all they see. However, the majority of them don’t always recognize that the heart of every digital product is the back end — a foundation of your web solution’s
                    logic, architecture, and functionality features. As a back end development company, XCS turns to the most innovative technologies to provide excellent services and release outstanding software products.
                </p>
            </div>
        </div>
    </div>

</div>
<div id="why-us" class="uk-container uk-container-xlarge bg-white uk-padding-large  uk-padding-remove-bottom">
    <div class="uk-text-center uk-grid-collapse approach-container uk-grid-match" uk-grid>
        <div class="uk-width-1-3@m">
            <div class="uk-card uk-padding-remove  uk-card-body">
                <img src="assets/new-img/wd-why.jpg" class="approach-img" alt="">
            </div>
        </div>
        <div class="uk-width-expand@m">
            <div class="uk-card uk-padding-large uk-text-left uk-card-body">
                <p class="approach-heading">
                    We apply best practices for accessible and profitable solutions

                </p>
                <p class="approach-details">
                    Not buzzwords, hype and selling, but understanding, pragmatism and consultation. That’s what expertise means to us, and that’s how we serve it to you. Business is stressful enough. Why stress about how your vendor treats you? Everything is easier when
                    you work with folks who are friendly, willing and patient.


                </p>
                <button routerLink="/contact-us" class="uk-button aprc-btn">
              Explore
            </button>
            </div>
        </div>
    </div>
</div>
<div class="uk-container uk-container-xlarge bg-white uk-padding-large uk-padding-remove-top">
    <h1 class="uk-heading-line uk-text-center exp-heading"><span>Top Industries</span></h1>
    <div class="uk-position-relative uk-visible-toggle uk-light uk-margin-medium-top" tabindex="-1" uk-slider>

        <ul class="uk-slider-items uk-child-width-1-1 uk-child-width-1-3@m uk-grid">
            <li>
                <div class="uk-card uk-padding-remove industry-grid uk-card-body">
                    <div>

                        <div class="uk-inline">
                            <img src="assets/new-img/as-ecom.jpg" alt="">
                            <div class="uk-overlay-primary uk-position-cover"></div>
                            <div class="uk-overlay uk-position-bottom uk-light">
                                <p class="industry-name">E-Commerce</p>
                            </div>
                        </div>

                    </div>
                </div>
            </li>
            <li>
                <div class="uk-card uk-padding-remove industry-grid uk-card-body">
                    <div>

                        <div class="uk-inline">
                            <img src="assets/new-img/as-fintech.jpg" alt="">
                            <div class="uk-overlay-primary uk-position-cover"></div>
                            <div class="uk-overlay uk-position-bottom uk-light">
                                <p class="industry-name">Banking & Finance</p>
                            </div>
                        </div>

                    </div>
                </div>
            </li>
            <li>
                <div class="uk-card uk-padding-remove industry-grid uk-card-body">
                    <div>

                        <div class="uk-inline">
                            <img src="assets/new-img/as-retail.jpg" alt="">
                            <div class="uk-overlay-primary uk-position-cover"></div>
                            <div class="uk-overlay uk-position-bottom uk-light">
                                <p class="industry-name">Retail</p>
                            </div>
                        </div>

                    </div>
                </div>
            </li>
        </ul>

        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

    </div>
</div>
<app-secondary-footer id="contact-us"></app-secondary-footer>
<app-footer></app-footer>
