$primary-color: #052553;
$pf-font: 'Playfair Display',
sans-serif !important;
$black: #1e354f !important;
$pcolor: #6a55ea !important;
$lato: 'Lato',
sans-serif !important;
$blue: #0366ff !important;
$oswald: 'Oswald',
sans-serif !important;
