<div class="uk-position-relative">
    <img src="assets/new-img/cs-header.jpg" class="nav-img uk-light uk-flex" uk-parallax="bgy: -200" alt="">
    <div class="uk-overlay-primary nav-overlay uk-position-cover"></div>
    <div class="uk-overlay uk-position-center uk-padding-large uk-position-center-left uk-light ">
        <p class="nav-heading">Cybersecurity</p>
        <p class="nav-subheading">We bring top level expertise to optimize your QA and security testing processes
        </p>
    </div>

    <div class="uk-position-top">
        <app-topnav></app-topnav>
    </div>
</div>
<div class="uk-container uk-container-xlarge uk-padding-large st-container uk-padding-remove " uk-sticky="offset: 74;">
    <div class="uk-text-center uk-grid-collapse uk-grid-match" uk-grid>
        <div class="uk-width-auto">
            <div class="uk-card section-header  uk-card-body">
                <p class="section-heading">Cybersecurity</p>
            </div>
        </div>
        <div class="uk-width-expand">
            <div class="uk-card  uk-padding-remove uk-card-body">
                <div class="section-slider " uk-slider="autoplay: true; autoplay-interval: 2000; finite:false;">

                    <div class="uk-position-relative uk-visible-toggle uk-light " tabindex="-1 ">

                        <ul class="uk-slider-items uk-child-width-auto uk-grid-collapse" uk-grid>
                            <li>
                                <a href="/cyber-security#overview">Overview</a>
                            </li>
                            <li>
                                <a href="/cyber-security#companies">Companies</a>
                            </li>
                            <li>
                                <a href="/cyber-security#planning">Planning</a>
                            </li>
                            <li>
                                <a href="/cyber-security#facts">Facts</a>
                            </li>
                            <li>
                                <a href="/cyber-security#audit">Audit</a>
                            </li>
                            <li>
                                <a href="/cyber-security#contact-us">Contact Us</a>
                            </li>
                        </ul>


                    </div>


                </div>
            </div>
        </div>
    </div>


</div>

<div id="overview" class="uk-container  uk-container-xlarge uk-padding-large bg-white">
    <p class="overview-heading ">Nobody can guarantee your network won’t be hit by malware, but if it does, we will quickly get you !
    </p>
    <p class="overview-subheading uk-align-center">
        Cyberthreats impact every business. In the ever-evolving digital world, ransomware, malware, phishing, social engineering and security breaches are an everyday occurrence. BetterWorld Technology helps you identify, assess and resolve cybersecurity threats
        and risks — before they occur.



    </p>
    <!-- <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-text-center uk-margin-large-top uk-grid-match" uk-grid>
      <div>
          <div class="uk-card category-grid uk-card-body">
              <p class="category-title">The Right Foundations </p>
              <p class="category-details">If you’re going to build a great building, you need to ensure you have solid foundations. The same applies to your business. The right foundations are in determining who you are as a company – your purpose and culture.
              </p>
          </div>
      </div>
      <div>
          <div class="uk-card category-grid uk-card-body">
              <p class="category-title">Analysis
              </p>
              <p class="category-details">We work directly with your teams to understand current strategy and performance. We collect information including historical transactional sales data, e-commerce analytics, ad performance, and third party sales and nets.


              </p>
          </div>
      </div>
  </div> -->
</div>
<div id="companies" class="uk-container ft-container uk-container-xlarge uk-padding-large bg-white uk-padding-remove-top">
    <div class="uk-card  uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
        <div class="uk-card-media-left uk-cover-container uk-background-cover uk-light uk-flex" uk-parallax="bgy: -200">
            <img src="assets/new-img/cs-comp.jpg" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body uk-padding-large">
                <h2 class="feature-heading">Cybersecurity services for companies of every size

                </h2>
                <p class="feature-details ">
                    Companies of every size, of every industry, are at risk of a cybersecurity incident. The US Chamber of Commerce reports that middle-market companies, in particular, have “increasingly become the primary target for cybercriminals.” Integris has the experience
                    to help protect your business.
                </p>
            </div>
        </div>
    </div>
</div>
<div id="planning" class="uk-container uk-container-xlarge uk-padding-large bg-prime">
    <div class="uk-card feature-prime uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
        <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
            <img src="assets/new-img/cs-testing.jpg" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body uk-padding-large">
                <h2 class="feature-heading">Incident Response Planning
                </h2>
                <p class="feature-details ">Most people think of the IT team as solely responsible for cybersecurity. Many security services indeed rely on technology, but we can’t forget about the people and process side as well: the training you require your staff to attend, how
                    much you weigh a vendor’s cybersecurity capabilities in your vendor selection process, and the business decisions you make when you are subject to a cyberattack.


                </p>
            </div>
        </div>
    </div>
    <app-all-svgs svgId="cs-logo"></app-all-svgs>
</div>
<div id="facts" class="uk-container uk-container-xlarge uk-padding-large">

    <h1 class="uk-heading-line uk-text-center exp-heading"><span>Stats & Facts</span></h1>
    <div class="uk-child-width-1-2 uk-child-width-1-3@m uk-flex-center uk-text-center uk-margin-medium-top uk-grid-small" uk-grid>
        <div>
            <div class="uk-card stats-grid uk-card-body">
                <p class="stats-no">95%
                </p>
                <p class="stats-details uk-align-center">Of security breaches happen because of human errors.
                </p>
            </div>
        </div>
        <div>
            <div class="uk-card stats-grid uk-card-body">
                <p class="stats-no">68%
                </p>
                <p class="stats-details uk-align-center">Of business leaders feel their cybersecurity risks are increasing.
                </p>
            </div>
        </div>
        <div>
            <div class="uk-card stats-grid uk-card-body">
                <p class="stats-no">66%
                </p>
                <p class="stats-details uk-align-center"> Of companies see compliance mandates driving spending.
                </p>
            </div>
        </div>
    </div>
    <div class="uk-text-center uk-grid-collapse uk-margin-medium-top uk-grid-match" uk-grid>

        <div class="uk-width-1-3@m">
            <div class="uk-card uk-padding-small  uk-card-body why-container">
                <div class="why-grid">
                    <p class="why-title">It Is Too Dangerous To Not Have A Cybersecurity Plan
                    </p>
                    <p class="why-details">
                        Not having a cybersecurity plan in place for your company only sets you up for failure. Without a proper cybersecurity plan in place, how will you protect sensitive company/employee information?

                    </p>
                </div>
            </div>
        </div>
        <div class="uk-width-expand@m">
            <div class="uk-card uk-padding-large why-grid uk-text-left uk-card-body">
                <div>
                    <p class="why-ft">
                        The Cisco Cybersecurity Reports show that 50 percent of large organizations, with a workforce of more than 10,000, spend at least $1 million on security every year. The report also found that 43 percent spend between $250,000 and $999,999, while 7 percent
                        spend less than $250,000.

                    </p>

                    <p class="why-author">Simplilearn
                        <a href="https://www.simplilearn.com/resources/cyber-security" target="_blank" class="uk-button uk-button-text">View Details</a>
                    </p>
                </div>
                <div class="uk-margin-medium-top">
                    <p class="why-ft">
                        According to a research by the Cybercrime Magazine, the cost of cybercrime will reach 6 trillion dollars worldwide by 2021, and the cost of ransomware damages will rise to 20 billion dollars.
                    </p>

                    <p class="why-author">Simpli Learn
                        <a href="https://www.simplilearn.com/resources/cyber-security" target="_blank" class="uk-button uk-button-text">View Details</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="audit" class="uk-container ft-container uk-container-xlarge uk-padding-large bg-white ">
    <div class="uk-card  uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
        <div class="uk-card-media-left uk-cover-container">
            <img src="assets/new-img/cs-testing.jpg" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body uk-padding-large">
                <h2 class="feature-heading">Security audit and testing
                </h2>
                <p class="feature-details ">
                    XCS professionals will conduct a high-quality audit of your organization’s information security and its individual components. The audit will accurately assess the level of organizational and technical security of your assets, be it a website, service,
                    application, smart contract, SCADA system, local network, cloud, monitoring personnel, or the entire organization with its people and infrastructure.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="uk-container uk-container-xlarge bg-white uk-padding-large uk-padding-remove-top">
    <h1 class="uk-heading-line uk-text-center exp-heading"><span>Top Industries</span></h1>

    <div class="uk-position-relative uk-visible-toggle uk-light uk-margin-medium-top" tabindex="-1" uk-slider>

        <ul class="uk-slider-items uk-child-width-1-1 uk-child-width-1-3@m uk-grid">
            <li>
                <div class="uk-card uk-padding-remove industry-grid uk-card-body">
                    <div>

                        <div class="uk-inline">
                            <img src="assets/img/au-1.jpg" alt="">
                            <div class="uk-overlay-primary uk-position-cover"></div>
                            <div class="uk-overlay uk-position-bottom uk-light">
                                <p class="industry-name">Fintech</p>
                            </div>
                        </div>

                    </div>
                </div>
            </li>
            <li>
                <div class="uk-card uk-padding-remove industry-grid uk-card-body">
                    <div>

                        <div class="uk-inline">
                            <img src="assets/img/au-1.jpg" alt="">
                            <div class="uk-overlay-primary uk-position-cover"></div>
                            <div class="uk-overlay uk-position-bottom uk-light">
                                <p class="industry-name">Fintech</p>
                            </div>
                        </div>

                    </div>
                </div>
            </li>
        </ul>

    </div>
</div>

<app-secondary-footer id="contact-us"></app-secondary-footer>
<app-footer></app-footer>
