<div class="uk-position-relative">
    <img src="assets/new-img/ui-header.jpg" class="nav-img uk-light uk-flex" uk-parallax="bgy: -200" alt="">
    <div class="uk-overlay-primary nav-overlay uk-position-cover"></div>
    <div class="uk-overlay uk-position-center uk-padding-large uk-position-center-left uk-light ">
        <p class="nav-heading">UX & UI
        </p>
        <p class="nav-subheading">We start each new digital product design partnership with an in‑depth discovery phase to immerse ourselves in your business.
        </p>
    </div>

    <div class="uk-position-top">
        <app-topnav></app-topnav>
    </div>
</div>
<div class="uk-container uk-container-xlarge uk-padding-large st-container uk-padding-remove " uk-sticky="offset: 74;">
    <div class="uk-text-center uk-grid-collapse uk-grid-match" uk-grid>
        <div class="uk-width-auto">
            <div class="uk-card section-header  uk-card-body">
                <p class="section-heading">UI & UX.</p>
            </div>
        </div>
        <div class="uk-width-expand">
            <div class="uk-card  uk-padding-remove uk-card-body">
                <div class="section-slider " uk-slider="autoplay: true; autoplay-interval: 2000; finite:false;">

                    <div class="uk-position-relative uk-visible-toggle uk-light " tabindex="-1 ">

                        <ul class="uk-slider-items uk-child-width-auto uk-grid-collapse" uk-grid>

                            <li>
                                <a href="/ui-ux#overview">Overview</a>
                            </li>
                            <li>
                                <a href="/ui-ux#experience">Experience</a>
                            </li>
                            <li>
                                <a href="/ui-ux#auditing">Auditing </a>
                            </li>
                            <li>
                                <a href="/ui-ux#facts">Facts</a>
                            </li>
                            <li>
                                <a href="/ui-ux#ui">UI</a>
                            </li>
                            <li>
                                <a href="/ui-ux#contact-us">Contact Us</a>
                            </li>
                        </ul>


                    </div>


                </div>
            </div>
        </div>
    </div>


</div>

<div id="overview" class="uk-container  uk-container-xlarge uk-padding-large bg-white">
    <p class="overview-heading ">We design human centric interfaces that make results for your enterprise
    </p>
    <p class="overview-subheading uk-align-center">
        We aren’t overly philosophical about UX design, because good design doesn’t need to be complicated. We create beautiful, powerful, and valuable user experiences so our clients (and their users) will be happy. Rinse. Repeat.




    </p>
    <!-- <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-text-center uk-margin-large-top uk-grid-match" uk-grid>
<div>
    <div class="uk-card category-grid uk-card-body">
        <p class="category-title">The Right Foundations </p>
        <p class="category-details">If you’re going to build a great building, you need to ensure you have solid foundations. The same applies to your business. The right foundations are in determining who you are as a company – your purpose and culture.
        </p>
    </div>
</div>
<div>
    <div class="uk-card category-grid uk-card-body">
        <p class="category-title">Analysis
        </p>
        <p class="category-details">We work directly with your teams to understand current strategy and performance. We collect information including historical transactional sales data, e-commerce analytics, ad performance, and third party sales and nets.


        </p>
    </div>
</div>
</div> -->
</div>
<div id="experience" class="uk-container ft-container uk-container-xlarge uk-padding-large bg-white uk-padding-remove-top">
    <div class="uk-card ft-card  uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
        <div class="uk-card-media-left uk-cover-container uk-background-cover uk-light uk-flex" uk-parallax="bgy: -200">
            <img src="assets/new-img/ui-exp.jpg" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body uk-padding-large">
                <h2 class="feature-heading">User Experience
                </h2>
                <p class="feature-details ">
                    Since design is all about people, we have built our process with a human-centric approach. This is achieved through user experience (UX) best practices, conducting a deep analysis of the competitor and user environment, then utilizing engagement analytics,
                    heatmaps, and quantitative analysis to further verify our data.

                </p>
            </div>
        </div>
    </div>
</div>
<div id="auditing" class="uk-container uk-container-xlarge uk-padding-large bg-prime">
    <div class="uk-card feature-prime uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
        <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
            <img src="assets/new-img/ui-audit.jpg" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body uk-padding-large">
                <h2 class="feature-heading">UX Auditing

                </h2>
                <p class="feature-details ">A presentation session and workshop where we audit your product's / website's UI and UX based design heuristics and business goals. Our finely-tuned design and technology audits measure core attributes across your digital properties, tools,
                    and processes, providing you with immediate insight into what’s working and where you can make improvements. We’ll help you take inventory, interpret the findings, get some quick wins, and determine how to address larger challenges.
                    The Auditing helps you clarify what part of the product needs a UX/UI fix or if at all a fix is required?


                </p>
            </div>
        </div>
    </div>
</div>
<div id="facts" class="uk-container uk-container-xlarge uk-padding-large">

    <h1 class="uk-heading-line uk-text-center exp-heading"><span>Stats & Facts</span></h1>
    <div class="uk-child-width-1-2 uk-child-width-1-3@m uk-flex-center uk-text-center uk-margin-medium-top uk-grid-small" uk-grid>
        <div>
            <div class="uk-card stats-grid uk-card-body">
                <p class="stats-no">$1
                </p>
                <p class="stats-details uk-align-center"> Every $1 invested in UX results in a return of $100

                </p>
            </div>
        </div>
        <div>
            <div class="uk-card stats-grid uk-card-body">
                <p class="stats-no"> 88%
                </p>
                <p class="stats-details uk-align-center">88% of users are less likely to return to a website after a bad user experience.


                </p>
            </div>
        </div>
        <div>
            <div class="uk-card stats-grid uk-card-body">
                <p class="stats-no">74%
                </p>
                <p class="stats-details uk-align-center"> of visitors are likely to come back to your site if it has good mobile UX.
                </p>
            </div>
        </div>
    </div>
    <div class="uk-text-center uk-grid-collapse uk-margin-medium-top uk-grid-match" uk-grid>

        <div class="uk-width-1-3@m">
            <div class="uk-card uk-padding-small  uk-card-body why-container">
                <div class="why-grid">
                    <p class="why-title">We design human centric interfaces
                    </p>
                    <p class="why-details">
                        We help startups and enterprises to define, design, and launch digital products
                    </p>
                </div>
            </div>
        </div>
        <div class="uk-width-expand@m">
            <div class="uk-card uk-padding-large why-grid uk-text-left uk-card-body">
                <div>
                    <p class="why-ft">
                        79% of marketers place website experience and page load time at the top of their list of priorities.
                    </p>

                </div>
                <div class="uk-margin-medium-top">
                    <p class="why-ft">
                        54% of marketers say ad cluttering is the greatest enemy of a good user experience.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="ui" class="uk-container ft-container uk-container-xlarge uk-padding-large bg-white ">
    <div class="uk-card  uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
        <div class="uk-card-media-left uk-cover-container">
            <img src="assets/new-img/ui-user.jpg" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body uk-padding-large">
                <h2 class="feature-heading">User Interface Design
                </h2>
                <p class="feature-details ">
                    In the past, users would spend 140% more time on the application if the product interface was pleasant to use. Today, users stop spending time in an application if its interface does not meet their expectations. Our UI Designer works in tandem with UX
                    Designer. As a result, the emerging interface responds to business requirements and user needs.
                </p>
            </div>
        </div>
    </div>
</div>
<div id="contact-us" class="uk-container uk-container-xlarge bg-white uk-padding-large uk-padding-remove-top">
    <h1 class="uk-heading-line uk-text-center exp-heading"><span>Top Industries</span></h1>

    <div class="uk-position-relative uk-visible-toggle uk-light uk-margin-medium-top" tabindex="-1" uk-slider>

        <ul class="uk-slider-items uk-child-width-1-1 uk-child-width-1-3@m uk-grid">
            <li>
                <div class="uk-card uk-padding-remove industry-grid uk-card-body">
                    <div>

                        <div class="uk-inline">
                            <img src="assets/img/au-1.jpg" alt="">
                            <div class="uk-overlay-primary uk-position-cover"></div>
                            <div class="uk-overlay uk-position-bottom uk-light">
                                <p class="industry-name">Fintech</p>
                            </div>
                        </div>

                    </div>
                </div>
            </li>
            <li>
                <div class="uk-card uk-padding-remove industry-grid uk-card-body">
                    <div>

                        <div class="uk-inline">
                            <img src="assets/img/au-1.jpg" alt="">
                            <div class="uk-overlay-primary uk-position-cover"></div>
                            <div class="uk-overlay uk-position-bottom uk-light">
                                <p class="industry-name">Fintech</p>
                            </div>
                        </div>

                    </div>
                </div>
            </li>
        </ul>

    </div>
</div>

<app-secondary-footer></app-secondary-footer>
<app-footer></app-footer>
