<app-topnav></app-topnav>
<div class="uk-container uk-container-xlarge uk-padding-remove">
    <div class="uk-card header-body  uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
        <div class="uk-card-media-left uk-cover-container">
            <img src="assets/new-img/grocery-header.jpg" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body header-info uk-padding-large">
                <p class="header-title">xevello groceries solution</p>
                <p class="header-heading">Build your online grocery store
                </p>
                <p class="header-details">Suddenly, being digital-first has gone from nice-to-have to utterly essential. In such uncertain times. we offer customized and ready to go grocery delivery mobile application, focusing on our client requirement.
                </p>
                <p class="header-stats">" Global $663.33 Billion Online Grocery Market to 2024 with Potential Impact of COVID-19 "
                </p>
                <button routerLink="/contact-us" class="uk-button header-button">Talk to Expert <span class="material-icons-outlined">
                chevron_right
                </span></button>
            </div>
        </div>
    </div>
</div>
<div class="uk-container uk-container-xlarge uk-padding-large bg-black">
    <app-all-svgs svgId="grocery-partners"></app-all-svgs>
</div>
<div class="uk-container uk-container-xlarge uk-padding-large  uk-padding-remove-top bg-black">
    <div class="uk-text-center uk-grid-collapse uk-grid-match " uk-grid>

        <div class="uk-width-expand@m">
            <div class="uk-card about-container uk-card-body uk-text-left">
                <p class="about-heading">On-Demand Grocery Delivery Business Models We Serve
                </p>
                <p class="about-details">

                    Grocery shoppers have taken a definite online turn since the onset of COVID-19, and many still see the pandemic’s impact on store shelves, a new study from CPG sales and marketing firm Acosta finds. 45% of consumers report shopping online for groceries
                    more now than before the pandemic Today a lot of online grocery shopping stores are emerging and much more are coming in the market, making grocery shopping simple and convenient.
                </p>
                <a routerLink="/contact-us" class=" uk-button uk-button-text about-link">Contact Us</a>
            </div>
        </div>
        <div class="uk-width-1-3@m">
            <div class="uk-card uk-padding-remove uk-card-body">
                <iframe src="https://www.youtube-nocookie.com/embed/c2pz2mlSfXA?autoplay=0&amp;showinfo=0&amp;rel=0&amp;modestbranding=1&amp;playsinline=1" class="about-video" allowfullscreen uk-responsive></iframe>

            </div>
        </div>
    </div>
    <hr class="uk-margin-medium">
    <p class="type-title">App Models</p>
    <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-grid-column-large uk-text-center uk-margin-medium-top" uk-grid>
        <div>
            <div class="uk-card uk-padding-remove uk-text-left uk-card-body">
                <img src="assets/new-img/grocery-single.jpg" class="model-img" alt="">
                <p class="model-title">Single Store</p>
                <p class="model-details">We develop on demand grocery delivery application for single grocery stores to provide elite services to their customers.
                </p>
                <a routerLink="/contact-us" class="uk-button uk-button-text about-link">View Details</a>
            </div>
        </div>
        <div>
            <div class="uk-card uk-padding-remove uk-text-left uk-card-body">
                <img src="assets/new-img/grocery-multi.jpg" class="model-img" alt="">
                <p class="model-title">Multiple Store</p>
                <p class="model-details">Our multi-store solution comes with separate access for each store/warehouse. Inventory management & delivery is done at the store level.
                </p>
                <a routerLink="/contact-us" class="uk-button uk-button-text about-link">View Details</a>
            </div>
        </div>
        <div>
            <div class="uk-card uk-padding-remove uk-text-left uk-card-body">
                <img src="assets/new-img/grocery-aggr.jpg" class="model-img" alt="">
                <p class="model-title">Aggregator </p>
                <p class="model-details">Grocery Aggregator allows customer to shop from neighbouring stores with ease and shops to advertise their products
                </p>
                <a routerLink="/contact-us" class="uk-button uk-button-text about-link">View Details</a>
            </div>
        </div>
    </div>
</div>
<div class="uk-container  uk-container-xlarge uk-padding-large uk-padding-remove-horizontal uk-padding-remove-bottom bg-white">
    <p class="container-title uk-margin-remove-bottom">App Features.</p>
    <p class="container-subtitle uk-width-1-2@m uk-padding-small uk-margin-remove-top uk-align-center">Wondering why outsource your grocery delivery app project to us?? Well
    </p>
    <div class="uk-card uk-card-default uk-grid-collapse bg-one uk-margin-large-top uk-child-width-1-2@s uk-margin" uk-grid>
        <div class="uk-card-media-left uk-cover-container">
            <img src="assets/new-img/grocery-customer.jpg" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body uk-padding-large ">
                <p class="feature-title">Customer App </p>
                <p class="feature-details">A Customer Application is designed to help the customers place their grocery delivery order by browsing the store and categories. For making a top-notch grocery app you need some amazing features to pump in your grocery store app which
                    the user will love.
                </p>
                <div class="uk-child-width-1-2@s uk-child-width-1-2@m uk-grid-row-collapse uk-text-center" uk-grid>
                    <div>
                        <div class="uk-card uk-padding-small uk-card-body">
                            <p class="ft-heading">Easy Login</p>
                            <p class="ft-details">User can manage your accounts with phone number or social media in a safest way

                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-padding-small uk-card-body">
                            <p class="ft-heading">Browse Products</p>
                            <p class="ft-details">Select from a wide range of food and grocery items, each carrying detailed descriptions.

                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-padding-small uk-card-body">
                            <p class="ft-heading"> Payment Integration
                            </p>
                            <p class="ft-details">Customers can pay the way they want with support for all popular options.

                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-padding-small uk-card-body">
                            <p class="ft-heading">Order Tracking</p>
                            <p class="ft-details">Customers track orders real-time and receive alerts that inform them about the order status.

                            </p>
                        </div>
                    </div>

                </div>
                <p class="ft-more">Know more</p>
                <a routerLink="/contact-us" class="uk-button uk-button-text contact-link">Start Now <span class="material-icons-outlined">
                  east
                  </span></a>
            </div>
        </div>
    </div>
    <div class="uk-card uk-card-default uk-grid-collapse bg-two uk-child-width-1-2@s uk-margin" uk-grid>
        <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
            <img src="assets/new-img/grocery-manage.jpg" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body uk-padding-large ">
                <p class="feature-title">Manage Stores </p>
                <p class="feature-details">A smart content management system for grocery will help you streamline almost all of your day-to-day demands. With a CMS in place, you can spend less time staring at your computer screen and more time doing business.

                </p>
                <div class="uk-child-width-1-2@s uk-child-width-1-2@m uk-text-center uk-grid-row-collapse" uk-grid>
                    <div>
                        <div class="uk-card uk-padding-small uk-card-body">
                            <p class="ft-heading">Admin</p>
                            <p class="ft-details">Manage your store / vendors / delivery activities. A one stop web admin to manage all aspects and insights to grow your grocery app business faster and smarter.</p>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-padding-small uk-card-body">
                            <p class="ft-heading">Vendor </p>
                            <p class="ft-details">Vendors can login to access and Have all the data on your screen so that you can better manage and make informed decisions.
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-padding-small uk-card-body">
                            <p class="ft-heading">Delivery</p>
                            <p class="ft-details">Recieve delivery notification from vendors according to your avail timing where you will manage live tracking for user and admin.</p>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-padding-small uk-card-body">
                            <p class="ft-heading">Fastest Servers</p>
                            <p class="ft-details">All that matters is how smooth and fast is your apps and we know how to run your app in such competition where no lags are more efficient of being successfull.</p>
                        </div>
                    </div>
                </div>
                <p class="ft-more">Know more</p>
                <a routerLink="/contact-us" class="uk-button uk-button-text contact-link">Start Now</a>
            </div>
        </div>
    </div>
</div>
<div class="uk-container uk-container-xlarge uk-padding-large">
    <p class="soft-title">Apps & tools
    </p>
    <p class="soft-details uk-align-center">Integrate popular apps with your Squarespace website and access the tools you use, all in one place.
    </p>
    <div class="uk-container uk-container-medium">
        <app-all-svgs svgId="grocery-tools"></app-all-svgs>
    </div>
</div>
<div class="uk-container uk-container-xlarge uk-padding-remove">
    <div class="uk-card bg-last uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
        <div class="uk-card-media-left uk-cover-container">
            <img src="assets/new-img/grocery-app.jpg" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body app-info uk-padding-large">
                <p class="app-title">We Provide value to your customers
                </p>
                <p class="app-details">A mobile app for your business can greatly contribute to your brand awareness. So we develop hybrid and native apps which is made for larger audience </p>
                <div class="uk-child-width-1-2 uk-child-width-auto@m uk-grid-medium uk-text-center " uk-grid>
                    <div>
                        <div class="uk-card icon-grid uk-padding-remove uk-card-body">
                            <img class="app-icon" src="assets/icons/appstore.png" alt=""></div>
                    </div>
                    <div>
                        <div class="uk-card icon-grid uk-padding-remove uk-card-body">

                            <img class="app-icon" src="assets/icons/googleplay.png" alt="">
                        </div>
                    </div>
                </div>
                <p class="hybrid-title">79% of smartphone users have made a purchase online using their mobile device in the last 6 months
                </p>
            </div>
        </div>
    </div>
</div>
<app-secondary-footer></app-secondary-footer>
<app-footer></app-footer>
