@import '_mixins';
.page-title {
    font-size: 8pt;
    color: white;
    text-transform: uppercase;
}

.header-img {
    height: 500px;
    width: 100% !important;
    object-fit: cover;
}

.header-overlay {
    background-color: black;
    filter: opacity(70%);
}

.about-title {
    font-size: 40pt;
    color: white;
    width: 60%;
    font-family: $pf-font;
    margin: 0px !important;
    font-weight: 700;
    font-style: italic;
}

.about-heading {
    color: black;
    font-size: 29pt;
    font-family: $pf-font;
    text-align: left;
    font-weight: 700;
    width: 80%;
}

.about-details {
    font-size: 11pt;
    color: black;
    text-align: left;
    width: 80%;
    margin-top: 10px;
}

.about-video {
    width: 100%;
    height: 100%;
}

.stats-no {
    font-size: 38pt;
    color: $black;
    font-family: $oswald;
    font-weight: 600;
}

.stats-name {
    font-size: 10pt;
    color: black;
}

.value-title {
    font-size: 32pt;
    font-family: $pf-font;
    text-align: left;
    font-weight: 600;
    color: white;
}

.value-details {
    font-size: 10pt;
    color: white;
    text-align: left;
    margin-top: 20px;
}

.value-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.industry-image-a {
    width: 100%;
    height: 370px;
    object-fit: cover;
}

.industry-image-b {
    width: 100%;
    height: 270px;
    object-fit: cover;
}

.industry-overlay {
    background-color: black;
    filter: opacity(24%);
}

.industry-name {
    font-size: 18pt;
    color: white;
}

.country-title-grid {
    border-radius: 4px;
    padding: 20px;
}

.country-title {
    font-size: 12pt;
    color: white;
}

.leadership-title {
    font-size: 14pt;
    color: white;
    font-weight: 500;
}

.leadership-details {
    font-size: 10pt;
    color: white;
    margin-top: 10px;
}

.pos-name {
    font-size: 13pt;
    color: white;
    margin-top: 20px;
    text-transform: capitalize;
}

.des-name {
    font-size: 10pt;
    color: white;
    margin-top: 20px;
}

.person-name {
    font-size: 13pt;
    color: white;
    margin-top: 8px;
    font-weight: 600;
    margin-top: 20px;
}

.designation {
    font-size: 8.5pt;
    color: white;
    font-weight: 300;
}

.partner-title {
    font-size: 18pt;
    color: black;
    text-align: left;
    font-weight: 600;
}

.partner-details {
    text-align: left;
    font-size: 12pt;
    color: black;
    margin-top: 10px;
}

.more-link {
    font-size: 10pt;
    color: $black;
    text-align: left;
    margin-top: 20px;
}

.partners-logo {
    margin-top: 0px;
    width: 60%;
    margin-bottom: 20px;
}

.container-heading {
    font-size: 16pt;
    color: black;
    text-align: center;
    font-weight: 600;
}

.history-heading {
    font-size: 12pt;
    color: gray;
    width: 50%;
    text-align: center;
}

.history-img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.history-info {
    background-color: $black;
    padding: 30px;
}

.history-title {
    font-size: 14pt;
    font-weight: 600;
    color: white;
}

.history-details {
    font-size: 10pt;
    color: white;
    margin-top: 10px;
}
