<app-topnav></app-topnav>
<div class="uk-container uk-container-xlarge uk-padding-remove bg-prime">
    <div class="uk-inline uk-width-1-1">
        <img src="assets/new-img/header-about.jpg" class="header-img" alt="">
        <div class="uk-overlay-primary uk-position-cover header-overlay"></div>

        <div class="uk-overlay uk-light uk-position-center-left uk-padding-large uk-margin-medium-bottom">
            <p class="page-title">About us</p>
            <h1 class="about-title">Our Data-Driven solutions grow businesses
            </h1>

        </div>
    </div>
</div>
<div class="uk-container uk-container-xlarge uk-padding-remove">

    <div class="uk-text-center uk-grid-match" uk-grid>


        <div class="uk-width-expand@m">
            <div class="uk-card uk-padding-large uk-card-body">
                <p class="about-heading">
                    Unisys delivers advanced IT solutions to businesses and governments
                </p>
                <p class="about-details">Unisys is built on over 145 years of game-changing innovation. Along the way, we feel we’ve made the world a better place by bringing technological innovation to businesses and governments around the world. Our company has evolved and
                    adapted over time, but our passion for innovation and for helping our clients succeed has remained constant.

                </p>
            </div>
        </div>
        <div class="uk-width-1-2@m">
            <div class="uk-card  uk-card-body">
                <iframe src="https://www.youtube-nocookie.com/embed/c2pz2mlSfXA?autoplay=0&amp;showinfo=0&amp;rel=0&amp;modestbranding=1&amp;playsinline=1" class="about-video" allowfullscreen uk-responsive uk-video="automute: false"></iframe>

            </div>
        </div>
    </div>
    <div class="uk-padding-large uk-padding-remove-top">
        <div class="uk-child-width-1-2@s uk-child-width-1-5@m uk-text-center uk-grid-large" uk-grid>
            <div>
                <div class="uk-card uk-padding-small uk-card-body">
                    <p class="stats-no">21</p>
                    <p class="stats-name">Years of Service </p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-padding-small uk-card-body">
                    <p class="stats-no">21</p>
                    <p class="stats-name">Years of Service </p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-padding-small uk-card-body">
                    <p class="stats-no">21</p>
                    <p class="stats-name">Years of Service </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="uk-container uk-container-xlarge uk-padding-large  bg-white">
    <div class="uk-child-width-1-2@s uk-child-width-1-2@m uk-text-center uk-grid-collapse uk-grid-match" uk-grid>
        <div>
            <div class="uk-card uk-padding-remove  uk-card-body">
                <img src="assets/img/au-2.jpg" class="value-img" alt="">
            </div>
        </div>
        <div>
            <div class="uk-card uk-padding-large bg-prime  uk-card-body">

                <h1 class="value-title">Together, we will accelerate sustainable and inclusive growth. </h1>
                <p class="value-details">We believe that for all people to prosper, economies must grow. Today, a new era of growth is possible; one that doesn’t treat growth and positive societal impact as opposing forces.
                </p>

            </div>
        </div>
    </div>
</div>
<div class="uk-container uk-container-xlarge uk-padding-large uk-padding-remove-top bg-white">
    <p class="container-title">Our industries
    </p>
    <p class="container-subtitle uk-margin-medium-bottom ">We believe that for all people to prosper, economies must grow. Today, a new era of growth is possible. </p>
    <div class="uk-text-center uk-grid-collapse" uk-grid>

        <div class="uk-width-1-2@m">
            <div class="uk-card uk-padding-remove uk-card-body">
                <div class="uk-inline uk-width-1-1">
                    <img src="assets/img/au-1.jpg" class="industry-image-a" alt="">
                    <div class="uk-overlay-primary uk-position-cover industry-overlay"></div>

                    <div class="uk-overlay uk-light uk-position-bottom-left">
                        <p class="industry-name">Aerospace & Defence</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-width-1-2@m">
            <div class="uk-card uk-padding-remove uk-card-body">
                <div class="uk-inline uk-width-1-1">
                    <img src="assets/img/au-2.jpg" class="industry-image-a" alt="">
                    <div class="uk-overlay uk-light uk-position-bottom">
                        <p>Default Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-width-1-3@m">
            <div class="uk-card uk-padding-remove uk-card-body">
                <div class="uk-inline uk-width-1-1">
                    <img src="assets/img/au-1.jpg" class="industry-image-b" alt="">
                    <div class="uk-overlay uk-light uk-position-bottom">
                        <p>Default Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-width-1-3@m">
            <div class="uk-card uk-card-default uk-card-body">Expand</div>
        </div>
        <div class="uk-width-1-3@m">
            <div class="uk-card uk-card-default uk-card-body">Expand</div>
        </div>
    </div>
</div>

<div class="uk-container uk-container-xlarge uk-padding-large ">
    <p class="container-title">Serving over quarter of world</p>
    <p class="container-subtitle uk-margin-medium-bottom">We are serving and delivering over 70+ country</p>
    <app-delivery-location> </app-delivery-location>

    <div class="uk-card bg-black uk-margin-medium-top uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
        <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
            <img src="assets/img/inventory.jpg" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body">
                <h4 class="leadership-title">Leadership</h4>
                <p class="leadership-details">With a strong partner ecosystem including a variety of Fintech and Insurtech startup partnerships, we empower our clients to change, disrupt, and unlock new value back by today’s most renowned technology leaders.

                </p>
                <h2 class="pos-name">directors</h2>
                <h3 class="des-name uk-heading-bullet">Representative Directors
                </h3>
                <p class="person-name">Abdul Kumshey</p>
                <p class="designation">CEO / Co-Founder </p>

                <p class="person-name">Sauban Sada</p>
                <p class="designation">Senior Partner / COO</p>
            </div>
        </div>
    </div>

</div>

<div class="uk-container uk-container-xlarge uk-padding-remove uk-margin-medium-bottom ">
    <div class="uk-child-width-1-2@s uk-child-width-1-2@m uk-text-center" uk-grid>
        <div>
            <div class="uk-card   partners-grid uk-card-body">
                <div class="uk-child-width-1-2@s  uk-child-width-1-3@m uk-text-center uk-grid-small" uk-grid>
                    <div>
                        <div class="uk-card  uk-padding-remove uk-card-body">
                            <img class="partners-logo uk-align-center" src="assets/logo/azure.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="uk-card  uk-padding-remove uk-card-body">
                            <img class="partners-logo uk-align-center" src="assets/logo/aws.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="uk-card  uk-padding-remove uk-card-body">
                            <img class="partners-logo uk-align-center" src="assets/logo/gcp.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="uk-card  uk-padding-remove uk-card-body">
                            <img class="partners-logo uk-align-center" src="assets/logo/fb.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="uk-card   uk-padding-remove uk-card-body">
                            <img class="partners-logo uk-align-center" src="assets/logo/cf.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="uk-card  uk-padding-remove uk-card-body">
                            <img class="partners-logo uk-align-center" src="assets/logo/godaddy.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="uk-card uk-padding-large uk-padding-remove-left uk-text-left  uk-card-body">
                <p class="partner-title">We partner with world's best</p>
                <p class="partner-details">Combining strengths and our deep expertise, we deliver solutions that drive greater outcomes for our customers. </p>
                <a routerLink="/about-us" class="uk-button uk-button-text more-link ">View more about partners</a>
            </div>
        </div>
    </div>
</div>
<div class="uk-container uk-container-xlarge uk-padding-large bg-white">
    <div class="uk-container uk-container-medium">
        <p class="container-title">Our History</p>
        <p class="container-heading">To deliver on the promise of technology and human ingenuity </p>
        <p class="history-heading uk-margin-small-top  uk-align-center">We embrace the power of change to create long-lasting value in every direction for our clients, people and communities. </p>

        <div class="uk-slider-container-offset uk-margin-medium-top uk-padding-remove-bottom" uk-slider="autoplay: true; autoplay-interval: 3000; finite: false;">

            <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">

                <ul class="uk-slider-items uk-child-width-1-3 uk-grid">
                    <li>
                        <div class="history-card">
                            <img src="assets/img/ai-banner.jpg" class="history-img" alt="">
                            <div class="history-info ">
                                <h3 class="history-title">2018</h3>
                                <p class="history-details">With a strong partner ecosystem including a variety of Fintech and </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="history-card">
                            <img src="assets/img/ai-banner.jpg" class="history-img" alt="">
                            <div class="history-info ">
                                <h3 class="history-title">2018</h3>
                                <p class="history-details">With a strong partner ecosystem including a variety of Fintech and </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="history-card">
                            <img src="assets/img/ai-banner.jpg" class="history-img" alt="">
                            <div class="history-info ">
                                <h3 class="history-title">2018</h3>
                                <p class="history-details">With a strong partner ecosystem including a variety of Fintech and </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="history-card">
                            <img src="assets/img/ai-banner.jpg" class="history-img" alt="">
                            <div class="history-info ">
                                <h3 class="history-title">2018</h3>
                                <p class="history-details">With a strong partner ecosystem including a variety of Fintech and </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="history-card">
                            <img src="assets/img/ai-banner.jpg" class="history-img" alt="">
                            <div class="history-info ">
                                <h3 class="history-title">2018</h3>
                                <p class="history-details">With a strong partner ecosystem including a variety of Fintech and </p>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>

            <ul class="uk-slider-nav uk-dotnav uk-flex-center history-dot uk-margin-medium-top uk-margin-remove-bottom "></ul>

        </div>
    </div>
</div>
<app-secondary-footer></app-secondary-footer>

<app-footer></app-footer>
