@import '_mixins';
:host ::ng-deep .topnav {
    background: none !important;
}

.page-title {
    font-size: 9pt;
    color: white;
    text-transform: uppercase;
}

.header-img {
    height: 600px;
    width: 100% !important;
    object-fit: cover;
}

.header-overlay {
    background-color: black;
    filter: opacity(60%);
}

.about-title {
    font-size: 40pt;
    color: white;
    width: 60%;
    font-family: $pf-font;
    margin: 0px !important;
    font-weight: 700;
    font-style: italic;
}

.about-heading {
    color: black;
    font-size: 29pt;
    font-family: $pf-font;
    text-align: left;
    font-weight: 700;
    width: 80%;
}

.about-details {
    font-size: 11pt;
    color: black;
    text-align: left;
    width: 80%;
    margin-top: 10px;
}

.about-video {
    width: 100%;
    height: 100%;
}

.stats-no {
    font-size: 38pt;
    color: $black;
    font-family: $oswald;
    font-weight: 600;
}

.stats-name {
    font-size: 10pt;
    color: black;
}

.value-title {
    font-size: 28pt;
    font-family: $pf-font;
    text-align: left;
    font-weight: 700;
    color: $black;
}

.value-details {
    font-size: 12.5pt;
    color: $black;
    text-align: left;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.value-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.industry-image-a {
    width: 100%;
    height: 370px;
    object-fit: cover;
}

.industry-image-b {
    width: 100%;
    height: 270px;
    object-fit: cover;
}

.industry-overlay {
    background-color: black;
    filter: opacity(24%);
}

.industry-name {
    font-size: 18pt;
    color: white;
}

.country-title-grid {
    border-radius: 4px;
    padding: 20px;
}

.country-title {
    font-size: 12pt;
    color: white;
}

.leadership-title {
    font-size: 14pt;
    color: white;
    font-weight: 500;
}

.leadership-details {
    font-size: 11.5pt;
    color: white;
    margin-top: 10px;
}

.pos-name {
    font-size: 13pt;
    color: white;
    margin-top: 20px;
    text-transform: capitalize;
}

.des-name {
    font-size: 10pt;
    color: white;
    margin-top: 20px;
}

.person-name {
    font-size: 13pt;
    color: white;
    margin-top: 8px;
    font-weight: 600;
    margin-top: 20px;
}

.designation {
    font-size: 8.5pt;
    color: white;
    font-weight: 300;
}

.partner-title {
    font-size: 18pt;
    color: black;
    text-align: left;
    font-weight: 600;
}

.partner-details {
    text-align: left;
    font-size: 12pt;
    color: black;
    margin-top: 10px;
}

.more-link {
    font-size: 10pt;
    color: $black;
    text-align: left;
    margin-top: 20px;
}

.partners-logo {
    margin-top: 0px;
    width: 60%;
    margin-bottom: 20px;
}

.container-heading {
    font-size: 13pt;
    color: black;
    text-align: center;
    font-weight: 400;
}

.history-heading {
    font-size: 10pt;
    color: gray;
    width: 50%;
    text-align: center;
}

.history-img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.history-info {
    background-color: $black;
    padding: 30px;
}

.history-title {
    font-size: 14pt;
    font-weight: 600;
    color: white;
}

.history-details {
    font-size: 10pt;
    color: white;
    margin-top: 10px;
}

.more-grid {
    background-color: $primary-color;
    cursor: pointer;
}

.more-heading {
    font-size: 16pt;
    color: white;
}

.more-details {
    font-size: 11pt;
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
}

.more-click {
    color: white;
    font-size: 10pt;
}

.more-click::before {
    border-bottom: 1px solid white;
}

@media only screen and (max-width: 900px) {
    .delivery-container {
        display: none;
    }
    .about-title {
        font-size: 26pt;
        width: 90%;
        margin-top: 10px !important;
    }
    .header-img {
        height: 450px;
    }
    .about-heading {
        font-size: 22pt;
        width: 99%;
    }
    .about-details {
        font-size: 10pt;
        width: 100%;
    }
    .os-container {
        padding-bottom: 0px !important;
    }
    .about-video {
        height: 250px;
    }
    .stats-no {
        font-size: 34pt;
    }
    .value-title {
        font-size: 21pt;
    }
    .industry-name {
        font-size: 14pt;
    }
    .industry-overlay {
        filter: opacity(40%);
    }
    .industry-image-a {
        height: 240px;
    }
    .industry-image-b {
        height: 220px;
    }
    .partners-grid {
        padding-bottom: 0px;
    }
    .pd-container {
        padding-top: 0px !important;
        padding-left: 40px !important;
    }
    .trust-grid {
        padding: 10px;
    }
    .value-title {
        font-size: 18pt;
    }
}
