<div class="uk-position-relative">
    <img src="assets/new-img/as-header.jpg" class="nav-img" alt="">
    <div class="uk-overlay-primary nav-overlay uk-position-cover"></div>
    <div class="uk-overlay uk-position-bottom uk-padding-large uk-position-center-left uk-light ">
        <p class="nav-heading">E-Commerce Solutions</p>
        <p class="nav-subheading">We spend countless hours perfecting websites and Apps nailing successful digital marketing strategies and living up to our mantra - Design. Develop. Grow.

        </p>
    </div>
    <div class="uk-overlay uk-position-bottom uk-padding-large uk-position-bottom-left uk-light ">

        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider>

            <ul class="uk-slider-items uk-child-width-auto uk-child-width-1-1@m slide-nav uk-child-width-auto@m">
                <li>
                    <a href="#details-container">Details</a>
                </li>
                <li>
                    <a href="">Services</a>
                </li>
            </ul>


        </div>
    </div>
    <div class="uk-position-top">
        <app-topnav></app-topnav>
    </div>
</div>
<div id="details-container" class="uk-container   uk-container-xlarge uk-padding-large bg-white">
    <p class="detail-title">A ONE-STOP-SHOP DEVELOPMENT PARTNER
    </p>
    <p class="detail-heading uk-align-center">Crafting technology excellence. For ideas that matter


    </p>
    <p class="details-detail uk-align-center">
        If you’re looking for a passionate ecommerce developers that consistently delivers results, you’re in the right place. Our development team focuses on quality design and agile development so you can focus on your business. Sunrise Integration has built
        a strong reputation by providing excellent service, building high-grade solutions and going above and beyond for our clients.




    </p>
</div>
<div class="uk-container uk-container-xlarge uk-padding-large uk-padding-remove-top uk-padding-remove-bottom bg-white">

    <div class="uk-card  uk-grid-collapse uk-child-width-1-2@s uk-margin ft-container" uk-grid>
        <div class="uk-flex-last@s uk-card-media-right uk-cover-container ">
            <img src="assets/new-img/as-manage.jpg" class="os-img" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body">
                <p class="service-heading">Custom E-Commerce
                </p>
                <p class="service-details">In today’s world, selling online is no longer a nice to have its an absolute necessity. Running a business is tough work, you need a great product, a strong team, and most of all professional partners that can help you grow. XCS partners
                    with best brands selling one million a year online to provide development strategy, coding and testing.
                </p>
            </div>
        </div>
    </div>

    <div uk-slider>

        <div class="uk-position-relative uk-visible-toggle uk-light solution-slider" tabindex="-1">

            <ul class="uk-slider-items uk-child-width-1-1 uk-child-width-1-3@s uk-child-width-1-2@m uk-grid-large" uk-grid>
                <li>
                    <div class="uk-text-center solution-grid uk-grid-collapse uk-grid-match" uk-grid>

                        <div class="uk-width-1-3">
                            <div class="uk-card os-grid uk-card-body">
                                <img src="assets/img/au-2.jpg" alt="">
                            </div>
                        </div>
                        <div class="uk-width-expand">
                            <div class="uk-card uk-text-left  uk-card-body">
                                <p class="solution-title">Software House designed branding and UX/UI that impacted</p>
                                <a class="uk-button solution-btn"> Banking & Finance <span class="material-icons-outlined">
                          arrow_right_alt
                          </span></a>
                            </div>
                        </div>
                    </div>

                </li>
                <li>
                    <div class="uk-text-center solution-grid uk-grid-collapse uk-grid-match" uk-grid>

                        <div class="uk-width-1-3">
                            <div class="uk-card os-grid uk-card-body">
                                <img src="assets/img/au-2.jpg" alt="">
                            </div>
                        </div>
                        <div class="uk-width-expand">
                            <div class="uk-card uk-text-left  uk-card-body">
                                <p class="solution-title">Software House designed branding and UX/UI that impacted</p>
                                <a class="uk-button solution-btn"> Banking & Finance <span class="material-icons-outlined">
                        arrow_right_alt
                        </span></a>
                            </div>
                        </div>
                    </div>

                </li>
            </ul>

            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

        </div>

        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

    </div>
</div>
<div class="uk-container uk-container-xlarge uk-padding-large uk-padding-remove-top uk-padding-remove-bottom bg-white">
    <div class="uk-card  uk-grid-collapse uk-child-width-1-2@s uk-margin ft-container" uk-grid>
        <div class="uk-card-media-left uk-cover-container ">
            <img src="assets/new-img/as-devs.jpg" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body">
                <p class="service-heading">Powered by the best engines
                </p>
                <p class="service-details">Online marketplaces are highly demanded ecommerce solutions that enable one to make double and even triple the profits as compared to a traditional online store. Apart from promoting your own products, you can also host other vendors on
                    your marketplace platform, which we can develop for you based on our vast field expertise and experience.
                </p>
            </div>
        </div>
    </div>
    <app-all-svgs svgId="partner-wd"></app-all-svgs>
</div>
<div class="uk-container uk-container-xlarge uk-padding-large uk-padding-remove-top  bg-white">
    <p class="container-heading">What’s your goal today? </p>
    <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-text-center dev-container uk-grid-match" uk-grid>
        <div>
            <div class="uk-card dev-grid uk-text-left uk-card-body">
                <p class="dev-title">Shopify
                </p>
                <p class="dev-details">Shopify is one of the leading eCommerce platform across the globe. It offers you a wide range of plugins and features that let you build custom Shopify stores
                </p>
            </div>
        </div>
        <div>
            <div class="uk-card dev-grid uk-text-left uk-card-body">
                <p class="dev-title">Woo Commerce
                </p>
                <p class="dev-details">Come go along with us, as we mastery in Custom WooCommerce development helping customers to effectively develop their online business.


                </p>
            </div>
        </div>
        <div>
            <div class="uk-card dev-grid uk-text-left uk-card-body">
                <p class="dev-title">Magento
                </p>
                <p class="dev-details">We offer customized Magento Development Services for each customer’s unique needs. To learn more, see our portfolio


                </p>
            </div>
        </div>
    </div>
</div>
<div class="uk-container uk-container-xlarge uk-padding-large  ops-container bg-prime">

    <div class="uk-card  uk-grid-collapse uk-child-width-1-2@s uk-margin ft-container" uk-grid>
        <div class="uk-card-media-left uk-cover-container ">
            <img src="assets/new-img/as-ops.jpg" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body ">
                <p class="service-heading" style="color: white;">Marketing & Sales</p>
                <p class="service-details" style="color: white;">
                    We help streamline marketing and sales activities by automating customer segmenting and profiling, lead nurturing, loyalty management, and more so that you can predict and influence demand, upsell and cross-sell effectively, as well as maximize conversions
                    via personalization.
                </p>
                <a href="#" class="learn-link" style="color: white !important;">Learn More.</a>
            </div>
        </div>
    </div>

</div>
<div class="uk-container uk-container-xlarge bg-white uk-padding-large  uk-padding-remove-bottom">
    <div class="uk-text-center uk-grid-collapse approach-container uk-grid-match" uk-grid>
        <div class="uk-width-1-3@m">
            <div class="uk-card uk-padding-remove  uk-card-body">
                <img src="assets/new-img/as-quote.jpg" class="approach-img" alt="">
            </div>
        </div>
        <div class="uk-width-expand@m">
            <div class="uk-card uk-padding-large uk-text-left uk-card-body">
                <p class="approach-heading">
                    Increase profits and raise your profile with mobile apps

                </p>
                <p class="approach-details">
                    The App solutions developed by us will take your business to new heights. We understand your business customer's desires, so we create apps they love to see and use the most.
                </p>
                <button class="uk-button aprc-btn">
              Explore
            </button>
            </div>
        </div>
    </div>
</div>
<div class="uk-container uk-container-xlarge bg-white uk-padding-large uk-padding-remove-top">
    <h1 class="uk-heading-line uk-text-center exp-heading"><span>Top Industries</span></h1>
    <div class="uk-position-relative uk-visible-toggle uk-light uk-margin-medium-top" tabindex="-1" uk-slider>

        <ul class="uk-slider-items uk-child-width-1-1 uk-child-width-1-3@m uk-grid">
            <li>
                <div class="uk-card uk-padding-remove industry-grid uk-card-body">
                    <div>

                        <div class="uk-inline">
                            <img src="assets/new-img/as-ecom.jpg" alt="">
                            <div class="uk-overlay-primary uk-position-cover"></div>
                            <div class="uk-overlay uk-position-bottom uk-light">
                                <p class="industry-name">E-Commerce</p>
                            </div>
                        </div>

                    </div>
                </div>
            </li>
            <li>
                <div class="uk-card uk-padding-remove industry-grid uk-card-body">
                    <div>

                        <div class="uk-inline">
                            <img src="assets/new-img/as-fintech.jpg" alt="">
                            <div class="uk-overlay-primary uk-position-cover"></div>
                            <div class="uk-overlay uk-position-bottom uk-light">
                                <p class="industry-name">Banking & Finance</p>
                            </div>
                        </div>

                    </div>
                </div>
            </li>
            <li>
                <div class="uk-card uk-padding-remove industry-grid uk-card-body">
                    <div>

                        <div class="uk-inline">
                            <img src="assets/new-img/as-retail.jpg" alt="">
                            <div class="uk-overlay-primary uk-position-cover"></div>
                            <div class="uk-overlay uk-position-bottom uk-light">
                                <p class="industry-name">Retail</p>
                            </div>
                        </div>

                    </div>
                </div>
            </li>
        </ul>

        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

    </div>
</div>
<app-secondary-footer></app-secondary-footer>
<app-footer></app-footer>
