<app-topnav class="uk-active"></app-topnav>
<div class="uk-container uk-container-xlarge prime-container uk-padding-large">
    <p class="contact-heading">Contact us</p>
    <p class="contact-subheading">We' love to hear from you. our friendly team is always here to help</p>
    <p class="sales-heading">FOR SALES INQUIRIES ONLY <br>
        <a href="" class="phone">+91-9900141870</a>
        <a href="" class="mail">abdulkumshey@gmail.com</a>

    </p>
    <div class="uk-container uk-container-medium contact-container uk-margin-large-top">

        <div class="uk-text-center uk-grid-collapse uk-grid-match" uk-grid>
            <div class="uk-width-expand@m">
                <div class="uk-card uk-padding-small uk-card-body">
                    <form class="uk-grid-small uk-text-left" autocomplete="off" uk-grid>
                        <div class="uk-width-1-1">
                            <label class="uk-form-label primary-label" for="form-stacked-text">Query Type</label>
                            <select class="uk-select primary-drop" id="form-stacked-select">
                              <option>Business Enquiry</option>
                              <option>Careers</option>
                              <option>Marketing & Sales</option>
                              <option>Offices</option>
                              <option>Feedback</option>
                              <option>Investors</option>
                              <option>News & Blogs</option>
                              <option>Support</option>
                              <option>Other</option>
                              <!-- Business Careers, Corporate, Enquiry, Investors, News, Other -->
                          </select>
                        </div>
                        <div class="uk-width-1-2@s">
                            <label class="uk-form-label primary-label" for="form-stacked-text">First Name <span class="imp-icon">*</span> </label>
                            <input class="uk-input primary-input" type="text" placeholder="eg:abdul">
                        </div>
                        <div class="uk-width-1-2@s">
                            <label class="uk-form-label primary-label" for="form-stacked-text">Last Name <span class="imp-icon">*</span> </label>
                            <input class="uk-input primary-input" type="text" placeholder="eg:kumshey">
                        </div>
                        <div class="uk-width-1-3@s">
                            <label class="uk-form-label primary-label" for="form-stacked-text">Phone <span class="imp-icon">*</span> </label>
                            <input class="uk-input primary-input" type="text" placeholder="eg:99***1113">
                        </div>
                        <div class="uk-width-1-3@s">
                            <label class="uk-form-label primary-label" for="form-stacked-text">E-Mail <span class="imp-icon">*</span> </label>
                            <input class="uk-input primary-input" type="text" placeholder="eg:help@xcs.xevello.com">
                        </div>
                        <div class="uk-width-1-3@s">
                            <label class="uk-form-label primary-label" for="form-stacked-text">Organization <span class="imp-icon">*</span> </label>
                            <input class="uk-input primary-input" type="text" placeholder="eg:Xevello">
                        </div>
                        <div class="uk-width-1-2@s">
                            <label class="uk-form-label primary-label" for="form-stacked-text">Country <span class="imp-icon">*</span> </label>
                            <input class="uk-input primary-input" type="text" placeholder="eg:help@xcs.xevello.com">
                        </div>
                        <div class="uk-width-1-2@s">
                            <label class="uk-form-label primary-label" for="form-stacked-text">Industry  </label>
                            <select class="uk-select primary-drop" id="form-stacked-select">
                              <option>AeroSpace & Defence</option>
                              <option>Agriculture</option>
                              <option>Automotive</option>
                          </select>
                        </div>
                        <div class="uk-width-1-1@s">
                            <label class="uk-form-label primary-label" for="form-stacked-text">Comments <span class="imp-icon">*</span> </label>
                            <textarea class="uk-textarea primary-textarea" rows="5" placeholder="eg: example details of your query here"></textarea>
                        </div>
                        <div class="uk-width-1-1@s uk-text-left">
                            <button class="uk-button send-btn uk-width-1-4@m">Submit </button>
                        </div>

                        <div class="uk-width-1-1@s uk-text-left">
                            <p class="terms-heading">By clicking on the submit, i agree with the <a href="">terms</a></p>
                        </div>
                    </form>
                </div>
            </div>
            <div class="uk-width-1-3@m">
                <div class="uk-card uk-padding-small uk-card-body">
                    <img class="side-img" src="assets/new-img/grocery-home.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
