@import '_mixins';
.news-recog>div>div {
    padding: 0px;
}

.hr-grid>svg {
    width: 70% !important;
    margin-top: 20px;
}

.hr-grid {
    justify-content: center;
    align-items: center;
    display: flex;
}

.hr-grid>svg>path {
    fill: #504d4b!important;
}

.news-recog>div>div>svg {
    width: 100%;
}

.home-partners>ul>li>div>img {
    width: 70%;
}

.footer-logo {
    width: 50%;
}

.footer-logo>g>g>path {
    fill: white !important;
}

.gr-grid>svg {
    width: 140px !important;
}

.gr-grid>svg>path,
.gr-grid>svg>g>path {
    fill: white !important;
}

.soft-grid {
    cursor: pointer;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.soft-grid>svg {
    width: 180px;
    fill: black !important;
}

.soft-grid>svg>path,
.soft-grid>svg>g>g>path,
.soft-grid>svg>g>path {
    fill: black !important;
}

.soft-grid.aws>svg {
    width: 120px;
}

.wd-grid {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wd-grid>svg {
    width: 20%;
}

.wd-grid>svg>path,
.wd-grid>svg>g>g>path {
    fill: $black;
}

.wd-gv>div:nth-child(2)>div>svg {
    width: 70%;
}

.wd-gv>div:nth-child(3)>div>svg {
    width: 100%;
}

.wd-gv>div:nth-child(4)>div>svg {
    width: 80%;
}

.wd-gv>div:nth-child(5)>div>svg {
    width: 100%;
}

.wd-gv>div:nth-child(6)>div>svg {
    width: 100%;
}

.sbs-slider>li {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sbs-slider>li>svg {
    width: 60%;
    margin-bottom: 0px;
}

.sbs-slider>li:nth-child(6)>svg {
    width: 100%;
}

.wd-slider {
    margin-top: 4%;
}

.wd-slider>li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wd-slider>li>svg {
    width: 50%;
}

.wd-slider>li:nth-child(4)>svg,
.wd-slider>li:nth-child(5)>svg,
.wd-slider>li:nth-child(6)>svg {
    fill: white;
    width: 25%;
}

.br-slider {
    margin-top: 4%;
}

.br-slider>li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.br-slider>li>svg {
    width: 60%;
}

.br-slider>li:nth-child(5)>svg>g>path:last-child {
    fill: $black;
}

.br-slider>li>svg>path,
.br-slider>li>svg>g>path,
.br-slider>li>svg>g>g>path {
    fill: white;
}

.ct-slider>li:nth-child(5)>svg>g:first-child>path:last-child {
    fill: $black;
}

.ct-slider {
    margin-top: 4%;
}

.ct-slider>li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ct-slider>li>svg {
    width: 60%;
}

.ct-slider>li:first-child>svg {
    width: 40%;
}

.ct-slider>li:nth-child(6)>svg {
    width: 70%;
}

.ct-slider>li:nth-child(5)>svg {
    width: 40%;
}

.ct-slider>li>svg>path,
.ct-slider>li>svg>g>path,
.ct-slider>li>svg>g>g>path,
.ct-slider>li>svg>g,
.ct-slider>li>svg>clipPath>path {
    fill: white;
}

.cs-slider>li:nth-child(5)>svg>g:first-child>path:last-child {
    fill: $black;
}

.cs-slider {
    margin-top: 4%;
}

.cs-slider>li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cs-slider>li>svg {
    width: 60%;
}

.cs-slider>li:first-child>svg>switch>g>path {
    fill: white;
}

.cs-slider>li:first-child>svg>switch>g>path:nth-child(2) {
    fill: $black;
}

.cs-slider>li:nth-child(3)>svg {
    width: 40%;
}

.cs-slider>li:nth-child(5)>svg {
    width: 70%;
}

.cs-slider>li:nth-child(6)>svg {
    width: 40%;
}

.cs-slider>li>svg>path,
.cs-slider>li>svg>g>path,
.cs-slider>li>svg>g>g>path,
.cs-slider>li>svg>g,
.cs-slider>li>svg>clipPath>path,
.cs-slider>li>svg>g>g>g>path {
    fill: white;
}

.cs-slider>li:nth-child(5)>svg>g:first-child>path:last-child {
    fill: $black;
}

.ds-slider {
    margin-top: 4%;
}

.ds-slider>li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ds-slider>li>svg {
    width: 60%;
}

.ds-slider>li:first-child>svg>switch>g>path {
    fill: white;
}

.ds-slider>li:first-child>svg>switch>g>path:nth-child(2) {
    fill: $black;
}

.ds-slider>li:nth-child(3)>svg {
    width: 40%;
}

.ds-slider>li:nth-child(5)>svg {
    width: 40%;
}

.ds-slider>li:nth-child(5)>svg>path:last-child {
    fill: $black;
}

.ds-slider>li:nth-child(6)>svg {
    width: 40%;
}

.ds-slider>li:nth-child(6)>svg>path:last-child {
    fill: $black;
}

.ds-slider>li>svg>path,
.ds-slider>li>svg>g>path,
.ds-slider>li>svg>g>g>path,
.ds-slider>li>svg>g,
.ds-slider>li>svg>clipPath>path,
.ds-slider>li>svg>g>g>g>path {
    fill: white;
}

.ds-slider>li:nth-child(5)>svg>g:first-child>path:last-child {
    fill: $black;
}

.ec-slider {
    margin-top: 4%;
    margin-bottom: 4%;
}

.ec-slider>li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ec-slider>li>svg {
    width: 60%;
}

.ec-slider>li:first-child>svg>switch>g>path {
    fill: white;
}

.ec-slider>li:first-child>svg>switch>g>path:nth-child(2) {
    fill: $black;
}

.ec-slider>li:nth-child(3)>svg {
    width: 40%;
}

.ec-slider>li:nth-child(5)>svg {
    width: 40%;
}

.ec-slider>li:nth-child(5)>svg>path:last-child {
    fill: $black;
}

.ec-slider>li:nth-child(6)>svg {
    width: 40%;
}

.ec-slider>li:nth-child(6)>svg>path:last-child {
    fill: $black;
}

.ec-slider>li>svg>path,
.ec-slider>li>svg>g>path,
.ec-slider>li>svg>g>g>path,
.ec-slider>li>svg>g,
.ec-slider>li>svg>clipPath>path,
.ec-slider>li>svg>g>g>g>path {
    fill: $black;
}

.ec-slider>li:nth-child(1)>svg>path:nth-child(3) {
    fill: white !important;
}

.ec-slider>li:nth-child(3)>svg {
    width: 60%;
}

.ec-slider>li:nth-child(5)>svg {
    width: 70%;
}

.am-slider {
    margin-top: 4%;
    margin-bottom: 4%;
}

.am-slider>li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.am-slider>li>svg {
    width: 60%;
}

.am-slider>li:first-child>svg>switch>g>path {
    fill: white;
}

.am-slider>li:first-child>svg>switch>g>path:nth-child(2) {
    fill: $black;
}

.am-slider>li:nth-child(3)>svg {
    width: 40%;
}

.am-slider>li:nth-child(5)>svg {
    width: 40%;
}

.am-slider>li:nth-child(5)>svg>path:last-child {
    fill: $black;
}

.am-slider>li:nth-child(6)>svg {
    width: 40%;
}

.am-slider>li:nth-child(6)>svg>path:last-child {
    fill: $black;
}

.am-slider>li>svg>path,
.am-slider>li>svg>g>path,
.am-slider>li>svg>g>g>path,
.am-slider>li>svg>g,
.am-slider>li>svg>clipPath>path,
.am-slider>li>svg>g>g>g>path {
    fill: $black;
}

.am-slider>li:nth-child(1)>svg {
    width: 70%;
}

.am-slider>li:nth-child(3)>svg {
    width: 60%;
}

.am-slider>li:nth-child(5)>svg {
    width: 70%;
}

.am-slider>li:nth-child(6)>svg {
    width: 60%;
}

.am-slider>li:nth-child(5)>svg>g>path:last-child {
    fill: white !important;
}

@media only screen and (max-width: 900px) {
    .hr-grid {
        padding: 0px;
    }
    .wd-grid {
        padding: 10px;
    }
}
