<div class="uk-position-relative">
    <img src="assets/new-img/so-header.jpg" class="nav-img uk-light uk-flex" uk-parallax="bgy: -200" alt="">
    <div class="uk-overlay-primary nav-overlay uk-position-cover"></div>
    <div class="uk-overlay uk-position-center uk-padding-large uk-position-center-left uk-light ">
        <p class="nav-heading">Software Development</p>
        <p class="nav-subheading">We deliver software solutions that improve enterprises’ productivity, strengthen their relationships with customers, and increase users’ loyalty, along with streamlining partnerships and team collaboration.
        </p>
    </div>

    <div class="uk-position-top">
        <app-topnav></app-topnav>
    </div>
</div>
<div class="uk-container uk-container-xlarge uk-padding-large st-container uk-padding-remove " uk-sticky="offset: 74;">
    <div class="uk-text-center uk-grid-collapse uk-grid-match" uk-grid>
        <div class="uk-width-auto">
            <div class="uk-card section-header  uk-card-body">
                <p class="section-heading">Business Strategy</p>
            </div>
        </div>
        <div class="uk-width-expand">
            <div class="uk-card  uk-padding-remove uk-card-body">
                <div class="section-slider " uk-slider="autoplay: true; autoplay-interval: 2000; finite:false;">

                    <div class="uk-position-relative uk-visible-toggle uk-light " tabindex="-1 ">

                        <ul class="uk-slider-items uk-child-width-auto uk-grid-collapse" uk-grid>

                            <li>
                                <a href="/software-development#overview">Overview</a>
                            </li>
                            <li>
                                <a href="/software-development#custom">Custom</a>
                            </li>
                            <li>
                                <a href="/software-development#erp">ERP </a>
                            </li>
                            <li>
                                <a href="/software-development#facts">Facts</a>
                            </li>
                            <li>
                                <a href="/software-development#support">Support</a>
                            </li>
                            <li>
                                <a href="/software-development#contact-us">Contact Us</a>
                            </li>
                        </ul>


                    </div>


                </div>
            </div>
        </div>
    </div>


</div>

<div id="overview" class="uk-container  uk-container-xlarge uk-padding-large bg-white">
    <p class="overview-heading "> Successfully achieve your business goals with a leading software development company


    </p>
    <p class="overview-subheading uk-align-center">
        As a Custom Software Development Company, XCS starts with the business challenge, creates an integrated strategy, then develops and implements the custom software solutions needed to solve the challenge and drive the business forward. From databases to
        digital products to technology infrastructure, Icreon is your Custom Software Development Company partner.


    </p>
    <!-- <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-text-center uk-margin-large-top uk-grid-match" uk-grid>
  <div>
      <div class="uk-card category-grid uk-card-body">
          <p class="category-title">The Right Foundations </p>
          <p class="category-details">If you’re going to build a great building, you need to ensure you have solid foundations. The same applies to your business. The right foundations are in determining who you are as a company – your purpose and culture.
          </p>
      </div>
  </div>
  <div>
      <div class="uk-card category-grid uk-card-body">
          <p class="category-title">Analysis
          </p>
          <p class="category-details">We work directly with your teams to understand current strategy and performance. We collect information including historical transactional sales data, e-commerce analytics, ad performance, and third party sales and nets.


          </p>
      </div>
  </div>
</div> -->
</div>
<div id="custom" class="uk-container ft-container uk-container-xlarge uk-padding-large bg-white uk-padding-remove-top">
    <div class="uk-card  uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
        <div class="uk-card-media-left uk-cover-container uk-background-cover uk-light uk-flex" uk-parallax="bgy: -200">
            <img src="assets/new-img/sd-custom.jpg" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body uk-padding-large">
                <h2 class="feature-heading">Custom Software Development
                </h2>
                <p class="feature-details ">
                    To build successful software you need a development team who understands your business needs. Our experts will identify a custom solution to fit your idea, timeline, and budget, then design and build the application and help you test it with real users.
                    As a result, you will gain a modern digital product loved by users that benefits your business.
                </p>
            </div>
        </div>
    </div>
</div>
<div id="erp" class="uk-container uk-container-xlarge uk-padding-large bg-prime">
    <div class="uk-card feature-prime uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
        <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
            <img src="assets/new-img/sd-erp.jpg" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body uk-padding-large">
                <h2 class="feature-heading">ERP Software Development
                </h2>
                <p class="feature-details ">Our team of developers, designers, project managers & business analysts have 7+ years of experience building custom enterprise software. We combine our passion for great user experience with deep technical knowledge to build products that
                    are easy-to-use, functional, scaleable, and secure. Get in touch and tell us your vision. Our team is focused on building software that delivers long-term results for your business.
                </p>
            </div>
        </div>
    </div>
</div>
<div id="facts" class="uk-container uk-container-xlarge uk-padding-large">

    <h1 class="uk-heading-line uk-text-center exp-heading"><span>Stats & Facts</span></h1>
    <div class="uk-child-width-1-2 uk-child-width-1-3@m uk-flex-center uk-text-center uk-margin-medium-top uk-grid-small" uk-grid>
        <div>
            <div class="uk-card stats-grid uk-card-body">
                <p class="stats-no">65%
                </p>
                <p class="stats-details uk-align-center"> More than 65% of companies outsource when tackling software development projects.

                </p>
            </div>
        </div>
        <div>
            <div class="uk-card stats-grid uk-card-body">
                <p class="stats-no"> 57%
                </p>
                <p class="stats-details uk-align-center">57% of IT companies worldwide plan to focus even more on software development from now on.

                </p>
            </div>
        </div>
        <div>
            <div class="uk-card stats-grid uk-card-body">
                <p class="stats-no">$204B
                </p>
                <p class="stats-details uk-align-center"> Consumers downloaded 204 billion apps in 2019—and that number continues to climb.
                </p>
            </div>
        </div>
    </div>
    <div class="uk-text-center uk-grid-collapse uk-margin-medium-top uk-grid-match" uk-grid>

        <div class="uk-width-1-3@m">
            <div class="uk-card uk-padding-small  uk-card-body why-container">
                <div class="why-grid">
                    <p class="why-title">Powering Real-Time Innovation
                    </p>
                    <p class="why-details">
                        We engineer real-time and scalable software products and platforms that allow our clients to develop business opportunities and achieve operational efficiencies.
                    </p>
                </div>
            </div>
        </div>
        <div class="uk-width-expand@m">
            <div class="uk-card uk-padding-large why-grid uk-text-left uk-card-body">
                <div>
                    <p class="why-ft">
                        In 2021, IT spending on enterprise software is expected to amount to around 517 billion U.S. dollars worldwide, a growth of 10.8 percent from the previous year.


                    </p>

                    <p class="why-author">BrightLocal
                        <a href="https://www.brightlocal.com/" target="_blank" class="uk-button uk-button-text">View Details</a>
                    </p>
                </div>
                <div class="uk-margin-medium-top">
                    <p class="why-ft">
                        A majority of the industry, about 69.20%, recognized that their client software demands are AI-powered. The majority of artificial intelligence developers engage in the development of business automation tools, chatbots, smart assistants, and machine
                        learning techniques.
                    </p>

                    <p class="why-author">Goodfirms
                        <a href="https://www.goodfirms.co/" target="_blank" class="uk-button uk-button-text">View Details</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="support" class="uk-container ft-container uk-container-xlarge uk-padding-large bg-white ">
    <div class="uk-card  uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
        <div class="uk-card-media-left uk-cover-container">
            <img src="assets/new-img/sd-support.jpg" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body uk-padding-large">
                <h2 class="feature-heading">Support & Maintenance
                </h2>
                <p class="feature-details ">
                    Our custom software development services don’t just end at launch. XCS offers ongoing support and maintenance programs to ensure your success. Services include triaging tickets and handling support issues with your users; hosting and maintaining infrastructure;
                    and planning, designing, building, and deploying new features during your software’s lifespan.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="uk-container uk-container-xlarge bg-white uk-padding-large uk-padding-remove-top">
    <h1 class="uk-heading-line uk-text-center exp-heading"><span>Top Industries</span></h1>

    <div class="uk-position-relative uk-visible-toggle uk-light uk-margin-medium-top" tabindex="-1" uk-slider="autoplay: true; autoplay-interval: 4000;">

        <ul class="uk-slider-items industries uk-child-width-1-1 uk-child-width-1-3@m uk-grid">
            <li>
                <div class="uk-card uk-padding-remove industry-grid uk-card-body">
                    <div>

                        <div class="uk-inline">
                            <img src="assets/industry/capital.jpg" alt="">
                            <div class="uk-overlay-primary uk-position-cover"></div>
                            <div class="uk-overlay uk-position-bottom uk-light">
                                <p class="industry-name">Capital Market</p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="uk-card uk-padding-remove industry-grid uk-card-body">
                    <div>

                        <div class="uk-inline">
                            <img src="assets/industry/logi.jpg" alt="">
                            <div class="uk-overlay-primary uk-position-cover"></div>
                            <div class="uk-overlay uk-position-bottom uk-light">
                                <p class="industry-name">Logistic & Distribution</p>
                            </div>
                        </div>

                    </div>
                </div>
            </li>
            <li>
                <div class="uk-card uk-padding-remove industry-grid uk-card-body">
                    <div>

                        <div class="uk-inline">
                            <img src="assets/industry/prof.jpg" alt="">
                            <div class="uk-overlay-primary uk-position-cover"></div>
                            <div class="uk-overlay uk-position-bottom uk-light">
                                <p class="industry-name">Professional Services</p>
                            </div>
                        </div>

                    </div>
                </div>
            </li>
        </ul>



    </div>
</div>

<app-secondary-footer id="contact-us"></app-secondary-footer>
<app-footer></app-footer>
