<div class="uk-position-relative">
    <img src="assets/new-img/se-header.jpg" class="nav-img uk-light uk-flex" uk-parallax="bgy: -200" alt="">
    <div class="uk-overlay-primary nav-overlay uk-position-cover"></div>
    <div class="uk-overlay uk-position-center uk-padding-large uk-position-center-left uk-light ">
        <p class="nav-heading">SEO</p>
        <p class="nav-subheading">Search engine optimization (SEO) is a highly effective method of attracting new customers and qualified leads to your website, but only when it’s done right.
        </p>
    </div>

    <div class="uk-position-top">
        <app-topnav></app-topnav>
    </div>
</div>
<div class="uk-container uk-container-xlarge uk-padding-large st-container uk-padding-remove " uk-sticky="offset: 74;">
    <div class="uk-text-center uk-grid-collapse uk-grid-match" uk-grid>
        <div class="uk-width-auto">
            <div class="uk-card section-header  uk-card-body">
                <p class="section-heading">SEO</p>
            </div>
        </div>
        <div class="uk-width-expand">
            <div class="uk-card  uk-padding-remove uk-card-body">
                <div class="section-slider " uk-slider="autoplay: true; autoplay-interval: 2000; finite:false;">

                    <div class="uk-position-relative uk-visible-toggle uk-light " tabindex="-1 ">

                        <ul class="uk-slider-items uk-child-width-auto">

                            <li>
                                <a href="/seo#overview">Overview</a>
                            </li>
                            <li>
                                <a href="/seo#local">Local</a>
                            </li>
                            <li>
                                <a href="/seo#global">Global</a>
                            </li>
                            <li>
                                <a href="/seo#facts">Facts</a>
                            </li>
                            <li>
                                <a href="/seo#audit">Audit</a>
                            </li>
                            <li>
                                <a href="/seo#contact-us">Contact Us</a>
                            </li>
                        </ul>


                    </div>


                </div>
            </div>
        </div>
    </div>


</div>

<div id="overview" class="uk-container  uk-container-xlarge uk-padding-large bg-white">
    <p class="overview-heading "> We take care of growth so you can focus on taking care of business.
    </p>
    <p class="overview-subheading uk-align-center">
        With all of the resources available for Search Engine Optimization, it can be hard to stay on track and maintain a campaign without getting bogged down and losing track of the big picture. SEO Brand is a reputable search marketing agency that is able
        to understand high-level solutions for your business, keeping track of your progress through deliverable tasks and improving your digital marketing performance.


    </p>
    <!-- <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-text-center uk-margin-large-top uk-grid-match" uk-grid>
    <div>
        <div class="uk-card category-grid uk-card-body">
            <p class="category-title">The Right Foundations </p>
            <p class="category-details">If you’re going to build a great building, you need to ensure you have solid foundations. The same applies to your business. The right foundations are in determining who you are as a company – your purpose and culture.
            </p>
        </div>
    </div>
    <div>
        <div class="uk-card category-grid uk-card-body">
            <p class="category-title">Analysis
            </p>
            <p class="category-details">We work directly with your teams to understand current strategy and performance. We collect information including historical transactional sales data, e-commerce analytics, ad performance, and third party sales and nets.


            </p>
        </div>
    </div>
</div> -->
</div>
<div id="local" class="uk-container ft-container uk-container-xlarge uk-padding-large bg-white uk-padding-remove-top">
    <div class="uk-card  uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
        <div class="uk-card-media-left uk-cover-container uk-background-cover uk-light uk-flex" uk-parallax="bgy: -200">
            <img src="assets/new-img/se-local.jpg" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body uk-padding-large">
                <h2 class="feature-heading">Local SEO
                </h2>
                <p class="feature-details ">
                    Instead of searching for leads far and wide, local SEO narrows down your prospects, engaging nearby visitors with the calculated potential to become customers. Now, you’re probably thinking - that sounds incredible, but how? As a phenomenal 97% of online
                    customers are already searching for a product or service near them, they just need to be able to see you - that’s where we come in.
                </p>
            </div>
        </div>
    </div>
</div>
<div id="global" class="uk-container uk-container-xlarge uk-padding-large bg-prime">
    <div class="uk-card feature-prime uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
        <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
            <img src="assets/new-img/se-global.jpg" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body uk-padding-large">
                <h2 class="feature-heading">Global SEO
                </h2>
                <p class="feature-details ">We’re seamlessly situated for your success. At First Page, we’re ready to help your company tackle the globe with international SEO. we’re fully equipped when it comes to obtaining an international market. From having such professional
                    expertise across the globe, we provide your business with the essential edge it needs over the competition. We ensure your international SEO strategy makes a concrete impact on your target demographic and of course, your sales!
                </p>
            </div>
        </div>
    </div>
</div>
<div id="facts" class="uk-container uk-container-xlarge uk-padding-large">

    <h1 class="uk-heading-line uk-text-center exp-heading"><span>Stats & Facts</span></h1>
    <div class="uk-child-width-1-2 uk-child-width-1-3@m uk-flex-center uk-text-center uk-margin-medium-top uk-grid-small" uk-grid>
        <div>
            <div class="uk-card stats-grid uk-card-body">
                <p class="stats-no">75%
                </p>
                <p class="stats-details uk-align-center"> of people never scroll past the first page of search engines. Click to Tweet this!
                </p>
            </div>
        </div>
        <div>
            <div class="uk-card stats-grid uk-card-body">
                <p class="stats-no"> $79B
                </p>
                <p class="stats-details uk-align-center">Businesses spend around $79 billion on SEO services
                </p>
            </div>
        </div>
        <div>
            <div class="uk-card stats-grid uk-card-body">
                <p class="stats-no">76%
                </p>
                <p class="stats-details uk-align-center"> Of people who search for a local business on their mobile phone visit a related business 24 hours.
                </p>
            </div>
        </div>
    </div>
    <div class="uk-text-center uk-grid-collapse uk-margin-medium-top uk-grid-match" uk-grid>

        <div class="uk-width-1-3@m">
            <div class="uk-card uk-padding-small  uk-card-body why-container">
                <div class="why-grid">
                    <p class="why-title">Fuel your project with an expert
                    </p>
                    <p class="why-details">
                        We optimize your content to rank higher in search engines and to increase sales, conversations, and brand authority.
                    </p>
                </div>
            </div>
        </div>
        <div class="uk-width-expand@m">
            <div class="uk-card uk-padding-large why-grid uk-text-left uk-card-body">
                <div>
                    <p class="why-ft">
                        90%: The percentage of consumers who used the internet to find a local business in the last year.

                    </p>

                    <p class="why-author">BrightLocal
                        <a href="https://www.brightlocal.com/" target="_blank" class="uk-button uk-button-text">View Details</a>
                    </p>
                </div>
                <div class="uk-margin-medium-top">
                    <p class="why-ft">
                        The #1 ranking position for mobile is also powerful. The first organic listing on mobile receives 27.7% of clicks, versus 19.3% of clicks on desktop. This means that ranking in position 1 for mobile is 3x more valuable than ranking in position
                    </p>

                    <p class="why-author">Optinmonster
                        <a href="https://optinmonster.com/" target="_blank" class="uk-button uk-button-text">View Details</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="audit" class="uk-container ft-container uk-container-xlarge uk-padding-large bg-white ">
    <div class="uk-card  uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
        <div class="uk-card-media-left uk-cover-container">
            <img src="assets/new-img/se-audit.jpg" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body uk-padding-large">
                <h2 class="feature-heading">SEO Audit
                </h2>
                <p class="feature-details ">
                    You're here because your web traffic is not where you want it to be. An SEO Audit is a once-off project that will diagnose the issues holding you back from reaching your traffic goals. All our audits provide you with a list of specific, actionable tasks
                    for you to turn that ranking frown upside-down.We have a selection of audits catering to specific circumstances. All are dilligently compiled by our team using proprietary methods and over 5 different SEO tools.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="uk-container uk-container-xlarge bg-white uk-padding-large uk-padding-remove-top">
    <h1 class="uk-heading-line uk-text-center exp-heading"><span>Top Industries</span></h1>

    <div class="uk-position-relative uk-visible-toggle uk-light uk-margin-medium-top" tabindex="-1" uk-slider>

        <ul class="uk-slider-items uk-child-width-1-1 uk-child-width-1-3@m uk-grid">
            <li>
                <div class="uk-card uk-padding-remove industry-grid uk-card-body">
                    <div>

                        <div class="uk-inline">
                            <img src="assets/img/au-1.jpg" alt="">
                            <div class="uk-overlay-primary uk-position-cover"></div>
                            <div class="uk-overlay uk-position-bottom uk-light">
                                <p class="industry-name">Fintech</p>
                            </div>
                        </div>

                    </div>
                </div>
            </li>
            <li>
                <div class="uk-card uk-padding-remove industry-grid uk-card-body">
                    <div>

                        <div class="uk-inline">
                            <img src="assets/img/au-1.jpg" alt="">
                            <div class="uk-overlay-primary uk-position-cover"></div>
                            <div class="uk-overlay uk-position-bottom uk-light">
                                <p class="industry-name">Fintech</p>
                            </div>
                        </div>

                    </div>
                </div>
            </li>
        </ul>

    </div>
</div>

<app-secondary-footer id="contact-us"></app-secondary-footer>
<app-footer></app-footer>
